{% extends "layouts.base" %}
{% block title %}
    {{ trans('errors.no_permission') }}
{% endblock %}
{% block contents %}
<article class="full-width">
    <header class="page-header">
        <h1 class="page-title">{{ trans('errors.no_permission') }}</h1>
    </header>
    <section class="block">
        {{ trans('errors.no_permission_desc') }}
    </section>
</article>
{% endblock %}