### PHPStorm
.idea

### Composer
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

## NPM
npm-debug.log

### Laravel
/bootstrap/compiled.php
/node_modules
/bower_components
.env.*.php
.env.php

.env

### Uploads
/public/uploads

### MyBB/Parser
config/video_codes.php
database/migrations/2015_02_16_164601_create_parser_badwords_table.php
database/migrations/2015_02_16_164601_create_parser_mycode_table.php
database/migrations/2015_02_16_164601_create_parser_smilies_table.php
resources/lang/en/parser.php

### MyBB/Settings
database/migrations/2015_03_06_110928_create_settings_table.php
database/migrations/2015_03_06_110933_create_setting_values_table.php
database/migrations/2015_03_07_220139_remove_is_user_setting_from_settings_table.php

/tests/report

### Mac Crap
.DS_Store
