.button,
a.button {
    color: $invert-font-color;
    background: $primary-color;
    border: 1px solid $primary-color;
    padding: 4px 10px;
    margin: 5px;
    font-size: 0.9em;
    text-decoration: none;
    display: inline-block;
    line-height: 26px;
    border-radius: 4px;

    &:hover {
        background: $secondary-color;
        border-color: $secondary-color;
        text-decoration: none;
        cursor: pointer;
    }

    &.button--secondary {
        border: 1px solid $border-1;
        background: $background-default;
        color: $primary-color;

        &:hover {
            color: $secondary-color;
        }
    }

    @include bp-medium-max {

        &.button--full-width {
            padding: 8px 10px;
            width: 100%;
            margin: 5px 0;
            box-sizing: border-box;
        }

        &.button--half-width {
            padding: 8px 10px;
            width: 49%;            
            float: $left;
            box-sizing: border-box;

            &:nth-child(odd) {
                margin-#{$left}: 0;
                margin-#{$right}: 1%;
            }

            &:nth-child(even) {
                margin-#{$left}: 1%;
                margin-#{$right}: 0;
            }
        }
    }

    &.button--danger {
        background: none;
        color: $danger-color;
        border-color: $border-1;

        &:hover {
            background: $danger-color;
            border-color: $danger-color;
            color: $invert-font-color;
        }
    }

    &.button--success {
        background: none;
        color: $success-color;
        border-color: $border-1;

        &:hover {
            background: $success-color;
            border-color: $success-color;
            color: $invert-font-color;
        }
    }

    &:hover, &:active {
        outline: none;
    }
}
