.block {
    margin-bottom: 30px;

    .block__heading {
        font-size: 1.2em;
        border-bottom: 1px solid $border-1;
        padding: 8px;
        margin: side-values(0 0 5px 0);
    }

    .block__heading--linked {
        border-bottom: 0;
        padding: 0;

        .block__heading--linked__link {
            padding: 8px 12px;
            border-bottom: 1px solid $border-1;
            display: block;

            .count {
                float: $right;
                font-size: 0.8em;
                color: $alt-font-color-1;
                font-weight: normal;
            }
        }
    }

    .block__heading--major {
        background: $primary-color;
        color: $invert-font-color;
        border: 0;
        padding: 8px 12px;
        margin-bottom: 0;
        border-radius: 4px;

        &.block__heading--linked {
            padding: 0;

            .block__heading--linked__link {
                border: none;
                color: $invert-font-color;

                .count {
                    @include white-transparency(0.7);
                }
            }
        }
    }

    &.block--container {
        border: 1px solid $border-1;
        border-radius: 4px;    

        .sort-results {
            border-width: 0;
            border-top-width: 2px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.sort-results {
    text-align: center;
    border: 1px solid $border-2;
    border-top: 2px solid $border-1;
    padding: 6px 0;
    clear: both;
    border-radius: corner-values(0 0 4px 4px);

    .sort-results__title {
        display: inline-block;
        margin: side-values(0 10px 0 0);
        padding: 0;
        font-weight: normal;
        color: $alt-font-color-1;
        font-size: 0.9em;

        &:after {
            content: ":";
        }
    }
}

.page-tabs {
    list-style: none;
    margin: 0;
    background: $background-1;
    padding: 8px;
    border-top: 1px solid $border-1;
    border-bottom: 1px solid $border-1;

    .page-tabs__item {
        display: inline-block;
        margin: side-values(0 8px 0 0);

        .page-tabs__item__link {
            padding: 4px 8px;
            display: inline-block;
            background: $background-1;
            border-radius: 3px;

            &:hover,
            &:active {
                text-decoration: none;
                background: $secondary-color;
                color: $invert-font-color;
            }
        }
        
        &.page-tabs__item--active {

            .page-tabs__item__link {
                color: $invert-font-color;
                font-weight: bold;
                background: $primary-color;
                text-decoration: none;
            }
        }
    }
}

dl.stats {
    line-height: 1.6;
    margin: 0;
    font-size: 0.9em;
    display: table-cell;

    dt {
        float: $left;
        margin: side-values(0 8px 0 0);
        color: $alt-font-color-2;

        &:after {
            content: ":";
        }
    }

    dd {
        padding: 0;
        margin: 0;
        display: table-cell;
    }
}

.alert {
    background-color: $background-1;
    padding: side-values(10px 12px 10px 40px);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.9em;
    border-radius: 4px;

    .alert__message {
        margin: 0;
        padding: 0;

        &.icon:before {
            float: $left;
            margin-#{$left}: -25px;
        }
    }

    &.alert--danger {
        background-color: $danger-color;
        color: $invert-font-color;
    }

    &.alert--success {
        background-color: $success-color;
        color: $invert-font-color;
    }
}

.error-no-results {
    text-align: center;
    padding: 30px 0;
    font-size: 1.2em;
    color: $alt-font-color-1;
}

.page-buttons {
    @include clearfix();
    margin: side-values(-10px 0 15px 0);
    text-align: center;

    @include bp-medium {
        float: $right;
        margin: side-values(-45px -5px 8px 0);
    }
}

.pagination {
    list-style: none;
    margin: side-values(0 0 25px -5px);
    padding: 0;
    font-size: 0.9em;
    text-align: center;

    @include bp-medium {
        text-align: $right;
        margin: side-values(0 -5px 25px -5px);
    }
    
    li {
        display: inline-block;
        margin: 0 5px;

        a {
            background: $background-1;
            padding: 1px 8px;
            display: inline-block;
            border-radius: 4px;

            &:hover {
                background: $secondary-color;
                color: $invert-font-color;
                text-decoration: none;
            }
        }

        &.active {
            padding: 1px 8px;
            background: $primary-color;
            color: $invert-font-color;
            border-radius: 4px;
        }

        &.disabled {
            display: none;
        }
    }       

    @include bp-medium {
        float: $left;
        text-align: $left;
        margin: side-values(10px -5px 0 -5px);
    }
}

.page-controls {
    
    @include bp-medium {
        @include clearfix();
        margin-top: -20px;

        .page-buttons {
            margin-top: 0;
        }

        .pagination + .page-buttons {
            margin-top: 0;
        }
    }
}

header + .page-controls {
    @include bp-medium {
        margin-top: -20px;

        .page-buttons {
            margin-top: -30px;
        }
    }
}