/*
 *
 *	ATTENTION
 *	This file is incomplete -- forthcoming markup changes will result in much of this changing
 *
 */

.main {
	padding: 15px 0 30px;

	.page-content header {

		margin-bottom: 20px;

		h1 {
			font-size: 1.5em;
			margin: 0 0 10px 0;
			padding: 0;
		}

		p {
			color: $alt-font-color-1;
			font-size: 0.9em;
			margin: 0 0 10px;
		}

	}

	.page-content--menu {

		header {
			margin-bottom: 10px;

			h1 {
				font-size: 1.2em;
				margin-bottom: 0;
			}
		}
	}

	aside {
		padding: 0 0 10px 0;
		font-size: 0.9em;
		margin-top: 30px;

		section {
			border: 1px solid $border-1;
			padding: 12px 15px;
			margin-bottom: 30px;
			@include border-radius(4px);
		}
	}

	.page-buttons {
		margin: -10px -5px 15px -5px;
		text-align: center;
	}

	.pagination {
		list-style: none;
		margin: 0 0 25px -5px;
		padding: 0;
		font-size: 0.9em;
		text-align: center;
		
		li {
			display: inline-block;
			margin: 0 5px;

			a {
				background: $background-1;
				padding: 1px 8px;
				display: inline-block;
				@include border-radius(4px);

				&:hover {
					background: $secondary-color;
					color: $invert-font-color;
					text-decoration: none;
				}
			}

			&.active {
				padding: 1px 8px;
				background: $primary-color;
				color: $invert-font-color;
				@include border-radius(4px);
			}

			&.disabled {
				display: none;
			}
		}		
	}
}

section {

	margin-bottom: 30px;

	h2 {
		font-size: 1.2em;
	}

	.heading {
		border-bottom: 1px solid $border-1;
		padding: 8px;
		margin: 0 0 5px 0;
	}

	.heading--linked {
		border-bottom: 0;
		padding: 0;

		a {
			padding: 8px 12px;
			border-bottom: 1px solid $border-1;
			text-decoration: none;
			display: block;

			.count {
				float: right;
				font-size: 0.8em;
				color: $alt-font-color-1;
				font-weight: normal;

				i {
					margin-left: 4px;
				}
			}
		}
	}

	.heading--major {
		background: $primary-color;
		color: $invert-font-color;
		border: 0;
		padding: 8px 12px;
		margin-bottom: 0;
		@include border-radius(4px);
	}

	.heading--major.heading--linked {
		padding: 0;

		a {
			border: none;
			color: $invert-font-color;
			text-decoration: none;

			.count {
				@include white-transparency(0.7);
			}
		}

		a:hover,
		a:active {
			text-decoration: underline;

			.count {
				color: $invert-font-color;
			}
		}
	}

	.page-tabs {
		list-style: none;
		margin: 0;
		background: $background-1;
		padding: 8px;
		border-top: 1px solid $border-1;
		border-bottom: 1px solid $border-1;

		li {
			display: inline-block;
			margin: 0 8px 0 0;

			a {
				padding: 4px 8px;
				display: inline-block;
				background: $background-1;
				@include border-radius(3px);
			}

			a:hover {
				text-decoration: none;
				background: $secondary-color;
				color: $invert-font-color;
			}
			
			&.page-tabs__active {

				a, a:hover {
					color: $invert-font-color;
					font-weight: bold;
					background: $primary-color;
					text-decoration: none;
				}
			}
		}
	}

	&.container {
		border: 1px solid $border-1;
		@include border-radius(4px);	
	}

	&:last-child {
		margin-bottom: 0;
	}
}

img.avatar {
	@include border-radius(4px);
}

.button, a.button {
	color: $invert-font-color;
	background: $primary-color;
	border: 1px solid $primary-color;
	padding: 4px 10px;
	margin: 5px;
	font-size: 0.9em;
	text-decoration: none;
	display: inline-block;
	@include border-radius(4px);

	&:hover {
		background: $secondary-color;
		border-color: $secondary-color;	
	}

	&.button--secondary {
		border: 1px solid $border-1;
		background: none;
		color: $primary-color;

		&:hover {
			color: $secondary-color;
		}
	}

	i {
		margin-right: 5px;
		font-size: 14px;
	}

	&:hover, &:active {
		outline: none;
	}
}

nav.section-menu {
	
	ul {
		margin: 0 0 15px 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			width: 48%;
			margin-bottom: 4px;

			&:nth-child(odd) {
				margin-right: 2%;
			}

			&:nth-child(even) {
				margin-left: 2%;
			}

			a {
				background: $background-1;
				display: block;
				padding: 2px 8px;
				text-decoration: none;
				@include border-radius(3px);

				&:hover {
					background-color: $secondary-color;
					border-color: $secondary-color;
					color: $invert-font-color;
				}

				i {
					padding-right: 5px;
				}
			}

			&.active a {
				background-color: $primary-color;
				border-color: $primary-color;
				color: $invert-font-color;
			}
		}
	}

}

@media only screen and (min-width: 768px) {
	
	.main {

		.page-content--sidebar {
			float: left;
			width: 60%;
		}

		.page-content--full-width {
			width: 100%;
			float: none;
		}

		.page-content--centered {
			width: 60%;
			float: none;
			margin: auto auto;
		}

		.page-content--menu {
			float: left;
			width: 78%;
		}

		aside {
			float: right;
			width: 35%;
			margin-top: 0;
		}

		.page-buttons {
			float: right;
			margin: -45px -5px 8px 0;
		}
		
		.pagination {
			text-align: center;
			margin: 0 -5px 25px -5px;
		}

		.page-controls {
			margin-top: -20px;

			.page-buttons {
				margin-top: 0;
			}

			.pagination {
				float: left;
				text-align: left;
				margin: 10px -5px 0 -5px;
			}

			.pagination + .page-buttons {
				margin-top: 0;
			}
		}

		header + .page-controls {
			margin-top: -20px;

			.page-buttons {
				margin-top: -30px;
			}
		}
	}

	nav.section-menu {
		float: left;
		width: 19%;
		margin-right: 3%;

		ul {
			margin: 0;

			li, li:nth-child(odd), li:nth-child(even) {
				float: none;
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}