.forum-list {

	.forum {
		@extend .clearfix;
		padding: 12px;
		border-bottom: 1px solid $border-2;
		line-height: 1.4;

		.forum__title {
			margin: side-values(0 0 4px 0);
			font-size: 1em;
		}

		.forum__description {
			font-size: 0.8em;
			margin: 0;
			padding: side-values(2px 0 4px 0);
			color: $alt-font-color-4;
		}

		.forum__subforums {
			list-style: none;
			margin: side-values(2px 0 4px 20px);
			padding: 0;
			font-size: 0.8em;

			li {
				display: inline-block;
				margin: side-values(0 12px 4px 0);
			}

			i.fa-level-up {
				margin: side-values(1px 0 0 -16px);
				color: $alt-font-color-2;
				float: $left;
				font-size: 14px;
				@include transform(rotate(90deg));
			}
		}

		.forum__topic {
			margin-top: 6px;
			padding: side-values(10px 0 0 2px);
			border-top: 1px dotted $border-1;

			.avatar-profile-link {
				width: 24px;
				height: 24px;
				margin: side-values(-3px 12px 0 0);

				img.avatar {
					width: 24px;
					height: 24px;
				}
			}

			.forum__topic__title {
				display: inline-block;
				margin: side-values(0 8px 0 0);
				padding: 0;
				font-weight: normal;
			}

			.forum__topic__post {
				display: inline-block;
				font-size: 0.8em;
				color: $alt-font-color-2;
				margin: 0;

				a {
					color: $alt-font-color-1;
				}
			}
		}

		&.highlight {
			background-color: $status-highlight;
			border-color: $status-highlight-border;
		}
	}
}

.forum-list--compact {

	.category {
		border-bottom: 1px solid $border-1;
		padding: 8px 12px;

		h4 {
			margin: 0;
			font-size: 1em;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: side-values(0 0 0 15px);
			font-size: 0.9em;
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}

section.container {
	
	.forum-list {

		padding: 0 6px;

		.forum:last-child {
			border-bottom: 0;
		}
	}
}

.topic-list {

	.topic-list__sort-topics {
		@extend .clearfix;
		margin-bottom: 0;
		background: $primary-color;
		padding: 5px 12px;
		border: 0;
		color: $invert-font-color;
		font-size: 0.9em;
		@include border-radius(corner-values(4px 4px 0 0));

		.primary-column-one {
			width: 50%;
		}

		.latest-column {
			width: 45%;
			text-align: $right;
		}

		.moderation-column {
			width: 5%;
			float: $right;
			text-align: $right;
			margin-top: 3px;
		}

		.primary-column-two, .replies-column {
			display: none;
		}

		a {
			display: inline-block;
			float: left;
			padding: 3px 5px;
			font-size: 0.9em;
			@include box-sizing(border-box);
			@include border-radius(3px);

			&:link, &:visited {
				color: $invert-font-color;
			}

			&:hover, &:active {
				background: $secondary-color;
				text-decoration: none;
			}
		}

		i {
			font-size: 14px;
			margin-#{$left}: 4px;
			@include white-transparency(0.7);
		}
	}

	.topic-list__container {
		border-#{$left}: 1px solid $border-2;
		border-#{$right}: 1px solid $border-2;
	}

	.topic-list__important-topics {
		border-bottom: 2px solid $border-1;
	}

	.topic {
		@extend .clearfix;
		padding: side-values(10px 12px 10px 60px);
		border-bottom: 1px solid $border-1;
		line-height: 1.4;
		position: relative;

		.primary-column {
			position: relative;
		}

		.moderation-column {
			float: $right;
			position: absolute;
			bottom: 10px;
			#{$right}: 12px;
		}

		.topic__title {
			margin: 0;
			padding: 0;
			font-size: 1em;
			font-weight: normal;

			&.topic__title--unread {
				font-weight: bold;
			}

			&.topic__title--moved {
				color: $alt-font-color-2;
			}
		}

		.topic__icons {
			float: $right;
			color: $alt-font-color-1;
			font-size: 14px;
			position: absolute;
			top: 0;
			#{$right}: 2px;
			margin-#{$left}: 16px;

			i {
				margin-#{$left}: 8px;

				&.fa-thumb-tack {
					color: $primary-color;
				}
			}
		}

		.replies-column {
			display: none;
		}

		h4 {
			display: none;
		}

		.topic__post {
			font-size: 0.8em;
			color: $alt-font-color-2;
			margin: 0;
			padding: 0;
			display: inline-block;

			.post__author a {
				color: $alt-font-color-1;
			}

			a.post__date {
				color: $alt-font-color-2;
			}

			.post__author:after {
				content: "-";
			}
		}

		.topic__post--first {
			display: none;
		}

		.topic__post--latest {
			font-size: 0.8em;
			color: $alt-font-color-2;
			margin: 0;
			display: inline-block;
		}

		.avatar-profile-link {
			width: 44px;
			height: 44px;
			float: $left;
			margin: side-values(10px 12px 0 6px);
			position: absolute;
			top: 0;
			#{$left}: 0;

			img.avatar {
				width: 44px;
				height: 44px;
			}
		}

		.topic__forum {
			font-size: 0.8em;
			color: $alt-font-color-2;
			margin: 0;
			display: none;

			a {
				color: $alt-font-color-2;
			}
		}

		.topic__replies {
			margin: side-values(0 0 0 12px);
			font-size: 0.8em;
			color: $alt-font-color-2;
			display: none;

			i {
				@include black-transparency(0.3);
				margin-#{$right}: 4px;
			}

			.text {
				display: none;
			}
		}

		&.highlight {
			background-color: $status-highlight;
			border-color: $status-highlight-border;
		}

		&.soft-deleted {
			background-color: $status-deleted;
			border-color: $status-deleted-border;
		}

		&.pending-approval {
			background-color: $status-pending;
			border-color: $status-pending-border;
		}
	}

	&.topic-list--compact {

		.topic {

			.topic__post--latest {
				a, a.post__date {
					color: $alt-font-color-1;
				}

				.post__author {
					display: inline;
					font-size: 1em;

					&:after {
						content: "";
					}
				}
			}
		}

	}
}

@media only screen and (min-width: 480px) {

	.topic-list {

		.topic {

			.topic__forum {
				display: inline-block;
			}

			.topic__replies {
				display: inline-block;
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	.forum-list--full-width {

		.forum {

			.forum__info {
				float: $left;
				width: 60%;
			}

			.forum__topic {
				float: $right;
				width: 35%;
				border: none;
				margin: 0;
				padding: 4px 0;

				.forum__topic__title {
					display: block;
					font-size: 0.9em;
				}

				.avatar-profile-link {
					float: $left;
					width: 36px;
					height: 36px;
					margin: side-values(3px 12px 0 0);

					img.avatar {
						width: 36px;
						height: 36px;
					}
				}
			}
		}
	}

	.topic-list {

		.topic-list__sort-topics {

			.primary-column-one {
				width: 26%;
				margin-#{$left}: -5px;
				margin-#{$right}: 5px;
			}

			.primary-column-two {
				width: 26%;
				text-align: $right;
				display: inline-block;
			}

			.replies-column {
				width: 12%;
				text-align: center;
				display: inline-block;
			}

			.latest-column {
				width: 33%;
				text-align: $left;
			}

			.moderation-column {
		  		width: 3%;
		  		float: $left;
		  		text-align: $right;
			}
		}

		.topic {
			padding: 10px 12px;
			
			.primary-column {
				width: 52%;
				float: $left;
				@include box-sizing(border-box);

				.topic__title {
					font-size: 1em;
				}
			}

			.replies-column {
				width: 12%;
				float: $left;
				text-align: center;
				color: $alt-font-color-1;
				display: block;

				p {
					margin: 10px 0;
					float: none;
				}
			}

			.latest-column {
				width: 33%;
				float: $left;
			}


			.moderation-column {
			  	width: 3%;
			  	float: $left;
			  	text-align: $right;
			  	position: relative;
			  	top: 0;
			  	#{$right}: 0;
			}

			.topic__post--first {
				display: inline-block;
			}

			.topic__post--latest {
				.post__author {
					display: block;
					font-size: 1.2em;

					&:after {
						content: "";
					}
				}
			}

			.avatar-profile-link {
				margin: side-values(0 12px 0 6px);
				position: relative;
				top: auto;
				#{$left}: auto;
			}
		}

		&.topic-list--compact {

			.avatar-profile-link {
				margin: side-values(0 12px 0 0);
			}
		}
	}
}

@media only screen and (min-width: 1000px) {

	.topic-list {

		.topic-list__sort-topics,
		.topic {

			.primary-column-one,
			.primary-column-two {
				width: 29%;
			}

			.primary-column {
				width: 58%;
			}

			.latest-column {
				width: 27%;
			}
		}

		.topic {

		}
	}
}