/*!
*   MyBB 2.0 - http://mybb.com - @mybb - MIT license
*/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-sizing($sizing) {
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-ms-box-sizing: $sizing;
	box-sizing: $sizing;
}

@mixin black-transparency($transparency) {
	color: rgba(0,0,0,$transparency);
}

@mixin white-transparency($transparency) {
	color: rgba(255,255,255,$transparency);
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}


@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}