.user-list {

	padding: side-values(12px 12px 0 12px);

	.user-list__user {
		border: 1px solid $border-1;
		padding: 8px;
		margin: side-values(0 0 12px 0);
		@include border-radius(4px);

		.avatar-profile-link {
			float: $left;
			width: 80px;
			height: 80px;
			margin: side-values(0 12px 0 0);
		
			img.avatar {
				width: 80px;
				height: 80px;
			}
		}

		h3 {
			margin: 0;
			font-size: 1em;
		}

		h4 {
			font-size: 0.8em;
			font-weight: normal;
			margin: side-values(-4px 0 0 0);
		}

		.team-badge {
			float: right;
			position: relative;
			margin: side-values(-48px 0 0 0);
		}
	}
}

.team-badge {
	padding: 3px 8px;
	border: 1px solid $border-1;
	color: $alt-font-color-1;
	display: inline;
	line-height: 1.6;
	font-size: 0.7em;
	@include border-radius(4px);

	i {
		margin-#{$right}: 5px;
	}
}

@media only screen and (min-width: 768px) {
	
	.user-list .user-list__user {
		float: $left;
		width: 49.5%;
		margin: side-values(0 0 12px 0);
		@include box-sizing(border-box);

		&:nth-child(odd) {
			margin-#{$right}: 0.5%;
		}

		&:nth-child(even) {
			margin-#{$left}: 0.5%;
		}
	}

}