/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */


/* ----

    BASE STYLES

---- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-size: 1em;
    line-height: 1;
}

::-moz-selection {
	background: #ff7500;
	color: #fff; 
	text-shadow: none;
}

::selection {
	background: #ff7500;
	color: #fff; 
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ----

    INITIALIZER STYLES
    Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template

---- */

body {
    font: 16px/26px Open Sans, Helvetica, Helvetica Neue, Arial;
}

input, select, textarea, button {
    font: 16px Open Sans, Helvetica, Helvetica Neue, Arial;
}

a:link,
a:visited {
    color: #007fd0;
    text-decoration: none;
}

a:hover,
a:active {
    color: #ff7500;
    text-decoration: underline;
}

a.multi-link:hover {
    text-decoration: none;
}

/*a.multi-link:hover span.text {
    text-decoration: underline;
}*/

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ----

    GENERAL STYLING

---- */

.user-navigation {
    clear: both;
    background: #007fd0;
    border-top: 2px solid #0b5aa8;
    border-bottom: 2px solid #0b5aa8;
    background: #444;
    border-color: #222;
}

.user-navigation .wrapper {
    padding: 0;
}

/* User Navigation Links */
.user-navigation ul.user-links {
    margin: 0 -8px;
	list-style: none;
}

.user-navigation ul.user-links > li {
    float: left;
    margin: 0 0;
    padding: 12px 6px;
    z-index: 300;
    position: relative;
}

.user-navigation ul.user-links > li > a:link,
.user-navigation ul.user-links > li > a:visited {
    color: #fff;
    background: transparent;
    padding: 2px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid transparent;
    display: inline-block;
    margin: -3px 0 -2px 0;
    width: auto;
}

nav.user-navigation ul.user-links > li > a:hover,
nav.user-navigation ul.user-links > li > a:active {
    background: #333;
    text-decoration: none;
}

/* Dropdown Links */
nav.user-navigation ul.user-links > li.dropdown-link {
    padding: 12px 0 12px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

nav.user-navigation ul.user-links > li.dropdown-link.dropit-open {
    background: #f2f2f2;
    border: 2px solid #ddd;
    border-bottom-color: #f2f2f2;
    margin-top: -2px;
    margin-bottom: -2px;
    z-index: 200;
}

nav.user-navigation ul.user-links > li.dropdown-link.dropit-open > a {
    background: none;
    border-radius: 0;
    color: #333;
}

nav.user-navigation ul.user-links > li.dropdown-link.dropit-open a:focus {
    outline: 0;
}

nav.user-navigation ul.user-links > li.dropdown-link.dropit-open > a > i {
    color: rgba(0,0,0,0.7);
}

nav.user-navigation ul.user-links > li.active-user > a > span.text {
    font-weight: bold;
}

nav.user-navigation ul.user-links > li > a:hover span.text {
    text-decoration: none;
}

nav.user-navigation ul.user-links > li.messages > a > span.text,
nav.user-navigation ul.user-links > li.notifications > a > span.text {
    display: none;
}

nav.user-navigation ul.user-links > li.messages > a > i,
nav.user-navigation ul.user-links > li.notifications > a > i {
    font-size: 18px;
}

nav.user-navigation ul.user-links > li > a > i.fa-caret-down {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}

nav.user-navigation ul.user-links > li > a > i.fa-caret-up {
    display: none;
}

nav.user-navigation ul.user-links > li.dropit-open > a > i.fa-caret-down {
    display: none;
}

nav.user-navigation ul.user-links > li.dropit-open > a > i.fa-caret-up {
    display: inline;
    font-size: 14px;
}

/* Sign up links */
nav.user-navigation ul.user-links > li.sign-up > a {
    background-color: #007fd0;
}

nav.user-navigation ul.user-links > li.sign-up > a:hover {
    background-color: #ff7500;
}


/* Notifications and messages listings in dropdown */
nav.menu-bar .dropdown .notifications-container,
nav.menu-bar .dropdown .messages-container {
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0 0 0;
}

nav.menu-bar .dropdown h2 {
    font-size: 1em;
    margin: 0;
    padding: 4px;
    color: #444;
    background: #eee;
}

nav.menu-bar .dropdown h2 a:link,
nav.menu-bar .dropdown h2 a:visited {
    color: #444;
    display: inline-block;
    background: transparent;
}

nav.menu-bar .dropdown h2 a:hover,
nav.menu-bar .dropdown h2 a:active {
    color: #ff7500;
    text-decoration: none;
}

nav.menu-bar .dropdown h2 a.option {
    float: right;
}

nav.menu-bar .dropdown h2 a.option .text {
    display: none;
}

nav.menu-bar .dropdown h2 a.option i {
    color: #666;
}

nav.menu-bar .dropdown h2 a.option:hover i {
    color: #444;
}

nav.menu-bar .dropdown ul.notifications {
    margin: 0;
    font-size: 0.8em;
    line-height: 1.6;
}

nav.menu-bar .dropdown ul.notifications a {
    text-decoration: none;
    padding: 8px 8px 8px 16px;
    overflow: hidden;
}

nav.menu-bar .dropdown ul.notifications span.username {
    font-weight: bold;
}

nav.menu-bar .dropdown ul.notifications i {
    color: #aaa;
    font-size: 14px;
    margin: 4px 4px 4px -4px;
    float: left;
}

nav.menu-bar .dropdown ul.messages {
    margin: 0;
    font-size: 0.8em;
    line-height: 1.6;
}

nav.menu-bar .dropdown ul.messages li {
    padding: 8px;
    color: #666;
}

nav.menu-bar .dropdown ul.messages li a {
    padding: 0;
}

nav.menu-bar .dropdown ul.messages a.avatar-profile-link {
    float: left;
    margin: 0 8px 0 0;
    width: 40px;
    height: 40px;
}

nav.menu-bar .dropdown ul.messages a.avatar-profile-link img.avatar {
    width: 40px;
    height: 40px;
}

nav.menu-bar .dropdown ul.messages a.conversation-title {
    font-weight: bold;
    display: block;
    font-size: 1.1em;
}

nav.menu-bar .dropdown ul.messages a.message-author {
    display: inline-block;
}

/*nav.menu-bar .dropdown ul.messages a {
    text-decoration: none;
    padding: 8px 8px 8px 30px;
    overflow: hidden;
}

nav.menu-bar .dropdown ul.messages span.username {
    font-weight: bold;
}

nav.menu-bar .dropdown ul.messages i {
    color: #aaa;
    font-size: 14px;
    margin: 4px 8px 4px -20px;
    float: left;
}*/

nav.menu-bar .dropdown h2 a:hover span.text,
nav.menu-bar .dropdown ul.notifications a:hover span.text,
nav.menu-bar .dropdown ul.messages a:hover {
    text-decoration: underline;
}

nav.menu-bar .dropdown ul.notifications time,
nav.menu-bar .dropdown ul.messages time {
    font-size: 0.9em;
    margin: 3px 0 0 4px;
    color: #666;
    float: right;
}

nav.menu-bar .dropdown ul.messages li.view-all {
    padding: 0;
}

nav.menu-bar .dropdown ul.notifications .view-all a,
nav.menu-bar .dropdown ul.messages .view-all a {
    text-align: center;
    padding: 8px;
}

/* Menu bar drop downs */
nav.menu-bar .dropdown {
    display: none;
    background: #f2f2f2;
    border-radius: 0 4px 4px 4px;
    border: 2px solid #ddd;
    border-top: 0;
    padding: 6px 12px 12px;
    font-size: 0.9em;
    left: -2px;
    width: 270px;
}

nav.menu-bar .dropdown li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px solid #e9e9e9;
}

nav.menu-bar .dropdown li:last-child {
    border: 0;
}

nav.menu-bar .dropdown a {
    display: block;
    margin: 0;
    padding: 4px;
    float: none;
    border-left: 0;
    text-align: left;
    background: transparent;
}

nav.menu-bar .dropdown a.avatar-profile-link {
    float: right;
    width: 80px;
    height: 80px;
    margin: 6px 0 0 0;
}

nav.menu-bar .dropdown a.avatar-profile-link img.avatar {
    width: 80px;
    height: 80px;
}

nav.menu-bar .dropdown a:hover {
    text-decoration: none;
}

nav.menu-bar .dropdown a:hover .text {
    text-decoration: underline;
}

nav.menu-bar .dropdown a i {
    color: #aaa;
    padding-right: 8px;
    width: 16px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

/* Page logo */
h1.title {
    float: left;
    margin: 10px 2% 5px 0;
}

.title a#logo {
    background-image: url("../images/logo_mobile.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 137px;
    height: 40px;
    display: block;
}

.title a#logo span {
    display: none;
}

/* General menu bar styling */
nav.menu-bar ul {
    margin: 0;
    padding: 0;
	list-style: none;
}

nav.menu-bar ul li a {
    display: block;
    margin-bottom: 10px;
    padding: 8px 0;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    text-align: center;
    text-decoration: none;
    background: #eee;
}

nav.menu-bar a:link,
nav.menu-bar a:active,
nav.menu-bar a:hover,
nav.menu-bar a:visited {
    text-decoration: none;
}

nav.menu-bar a:hover {
    text-decoration: underline;
}

nav.menu-bar a.multi-link:hover {
    text-decoration: none;
}

nav.menu-bar a .unread-count {
    background: #eb5257;
    color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 5px 1px 4px;
    margin: 0 0 0 2px;
    font-weight: normal;
    font-size: 0.8em;
    text-decoration: none;
}

nav.menu-bar a:hover .unread-count {
    text-decoration: none;
}

nav#main-menu.menu-bar {
    float: right;
    margin: 25px 0 0 0;
}

nav#main-menu.menu-bar ul {
    display: none;
}

nav#main-menu.menu-bar .menu-button {
    padding-top: 5px;
    display: inline-block;
    float: right;
}

nav#main-menu.menu-bar .menu-button i {
    font-size: 21px;
    color: #444;
}

nav#main-menu.menu-bar .menu-button .text {
    display: none;
}

@media only screen and (max-width: 768px) { 

    nav#main-menu.menu-bar {
        margin-top: 10px;
    }

    nav#main-menu.menu-bar:hover {
    }

    nav#main-menu.menu-bar:hover .main-menu-container {
        position: absolute;
        right: 0;
        float: right;
        width: 100%;
        padding-top: 45px;
    }

    nav#main-menu.menu-bar:hover ul {
        display: block;
        position: relative;
        top: 0;
        border-top: 2px solid #222;
        border-bottom: 2px solid #222;
        right: 0;
        z-index: 500;
        background: #444;
        padding: 2px;
        text-align: center;
    }

    nav#main-menu.menu-bar:hover ul li {
        display: inline-block;
    }

    nav#main-menu.menu-bar:hover ul li a {
        width: auto;
        display: inline-block;
        margin: 4px;
        padding: 7px 8px 6px;
        float: none;
        background: transparent;
        border-radius: 3px;
    }

    nav#main-menu.menu-bar:hover ul li a:link,
    nav#main-menu.menu-bar:hover ul li a:visited {
        color: #fff;
    }

    nav#main-menu.menu-bar:hover ul li a:hover,
    nav#main-menu.menu-bar:hover ul li a:active {
        background: #333;
        color: #fff;
        text-decoration: none;
    }
}

.header-container header,
.footer-container footer {
    padding: 0;
}


/* Page breadcrumb */
.breadcrumb {
    display: block;
    font-size: 0.8em;
    color: #888;
    padding: 0;
    margin: 0 0 10px 0;
}

.breadcrumb a {
    color: #777;
}

.breadcrumb i {
    color: #777;
    margin: 0 4px 0 6px;
}

/* Search box */

#search .search-button {
    color: #999;
    float: right;
    margin: 8px 0 0 0;
    padding: 5px 2px;
}

#search .search-button:hover {
    color: #ccc;
}

#search .search-button i {
    font-size: 18px;
}

#search .search-button .text {
    display: none;
}

#search .search-container {
    clear: both;
    display: none;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    cursor: text;
    background: #fff;
    margin: 0 0 8px 0;
    width: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#search input.search-field {
    border: 0;
    padding: 0;
    margin: 0;
    width: 74%;
    font-size: 0.9em;
    outline: 0;
}

#search .search-controls {
    width: 24%;
    text-align: right;
    float: right;
    padding-right: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#search button.search-submit,
#search a.advanced-search {
    height: 24px;
    margin: 0 0 0 8px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
    color: #888;
    font-size: 14px;
}

#search button.search-submit:hover,
#search a.advanced-search:hover {
    color: #555;
}

#search button.search-submit .text,
#search a.advanced-search .text {
    display: none;
}


/* Page Footer */
.footer-container {
    border-top: 1px solid #ddd;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.footer-container footer h3 {
    float: none;
    font-size: 0.9em;
    text-align: center;
    display: block;
    
}

.footer-container footer nav.menu-bar a {
    padding: 5px 12px;
    font-size: 0.9em;
    font-weight: normal;
}

.footer-container footer p.powered-by {
    clear: both;
    font-size: 0.8em;
    color: #666;
    padding: 10px 0;
    margin: 0;
}

.footer-container footer p.powered-by a {
    color: #333;
}


/* Main Body */
.main {
    padding: 15px 0 30px;
}

.main article header h1 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    padding: 0;
}

.main article header p {
    color: #666;
    font-size: 0.9em;
    margin: 0 0 10px 0;
}

.main article header {
    margin-bottom: 20px;
}

.main aside {
    padding: 0px 0px 10px;
    font-size: 0.9em;
    margin-top: 30px;
}

.main aside section {
    border: 1px solid #dfdfdf;
    padding: 12px 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.main h1, .main h2 {
    margin-top: 5px;
}

aside h3 {
    margin-top: 0;
}

h2 {
    font-size: 1.2em;
}

h2, aside > h3 {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 5px;
}

section h2.bold,
section header {
    margin-bottom: 0;
    background: #007fd0;
    padding: 8px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    color: #fff;
}

section .page-tabs {
    list-style: none;
    margin: 0;
    background: #fafafa;
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

section .page-tabs li {
    display: inline-block;
    margin: 0 8px 0 0;
}

section .page-tabs li.active a,
section .page-tabs li.active a:hover {
    color: #fff;
    font-weight: bold;
    background: #007fd0;
    text-decoration: none;
}

section .page-tabs li a {
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3px;
    background: #fafafa;
}

section .page-tabs li a:hover {
    text-decoration: none;
    background: #ff7500;
    color: #fff;
}

.linked-header {
    border-bottom: 0;
    padding: 0;
}

.linked-header a {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    display: block;
}

aside .linked-header a {
    padding: 6px;
}

.linked-header a .count {
    float: right;
    font-size: 0.9em;
    color: #777;
    font-weight: normal;
}

h2.linked-header a .count {
    font-size: 0.8em;
}

.linked-header a .count i {
    margin-left: 4px;
}

h2.bold.linked-header {
    padding: 0;
}

h2.bold.linked-header a:link,
h2.bold.linked-header a:visited {
    border: none;
    color: #fff;
    text-decoration: none;
}

h2.bold.linked-header a:hover,
h2.bold.linked-header a:active {
    border: none;
    color: #fff;
    text-decoration: underline;
}

h2.bold.linked-header a .count {
    color: rgba(255,255,255,0.7);
}

h2.bold.linked-header a:hover .count {
    color: #fff;
}


img.avatar {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

section {
    margin-bottom: 30px;
}

section.container {
    border: 1px solid #dfdfdf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
}

section:last-child {
    margin-bottom: 0;
}

section ul.notifications {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.6;
    list-style: none;
    padding: 0;
}

section ul.notifications li {
    overflow: hidden;
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

section ul.notifications li:last-child {
    border-bottom: 0;
}

section ul.notifications a.avatar-profile-link {
    float: left;
    margin: 0 12px 0 0;
    width: 40px;
    height: 40px;
}

section ul.notifications a.avatar-profile-link img.avatar {
    width: 40px;
    height: 40px;
}

section ul.notifications a.notification {
    text-decoration: none;
    margin-left: 52px;
    padding-left: 24px;
    display: block;
}

section ul.notifications span.username {
    font-weight: bold;
}

section ul.notifications i {
    color: #aaa;
    font-size: 14px;
    width: 16px;
    text-align: center;
    margin: 4px 8px 4px -24px;
    float: left;
}

section h2 a:hover span.text,
section ul.notifications a:hover span.text {
    text-decoration: underline;
}

section ul.notifications time {
    font-size: 0.8em;
    color: #666;
    display: block;
}

.compressed-forum-list .category {
    border-bottom: 1px solid #eee;
    padding: 8px 12px;
}

.compressed-forum-list .category:last-child {
    border-bottom: 0;
}

.compressed-forum-list .category h4 {
    margin: 0;
    font-size: 1em;
}

.compressed-forum-list .category ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 0.9em;
}

.compressed-forum-list .unread-count {
    background: #eb5257;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 0 3px;
    font-weight: normal;
    font-size: 0.8em;
    text-decoration: none;
}


.forum-list .contains-new-posts {
    font-size: 0.9em;
    font-weight: normal;
}

.forum-list .forum {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    line-height: 1.4;
}

.forum:before,
.forum:after,
.topic:before,
.topic:after {
    content: " ";
    display: table;
}

.forum:after,
.topic:after {
    clear: both;
}

.forum,
.topic {
    *zoom: 1;
}

.forum-list .forum .forum-title {
    margin: 0 0 4px 0;
    font-size: 1em;
}

.forum-list .forum .unread-count {
    background: #eb5257;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 7px 2px 6px;
    margin: 0 3px;
    font-weight: normal;
    font-size: 0.8em;
    text-decoration: none;
}

.forum-list .forum .description {
    font-size: 0.8em;
    margin: 0;
    padding: 2px 0 4px 0;
    color: #444;
}

.forum-list .forum .subforums i.fa-level-up {
    margin: 1px 0 0 -16px;
    color: #aaa;
    float: left;
    font-size: 14px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.forum-list .forum .subforums {
    list-style: none;
    margin: 2px 0 4px 20px;
    padding: 0;
    font-size: 0.8em;
}

.forum-list .forum .subforums li {
    display: inline-block;
    margin: 0 12px 4px 0;
}

.forum-list .forum .subforums .unread-count {
    padding: 1px 3px;
}


.forum-list .forum .topic {
    margin-top: 6px;
    padding: 8px 0 0 2px;
    border-top: 1px dotted #ddd;
}

.forum-list .forum .topic.compact .avatar-profile-link {
    width: 24px;
    height: 24px;
    margin: -2px 10px 0 0 ;
}

.forum-list .forum .topic.compact .avatar {
    width: 24px;
    height: 24px;
}

.forum-list .forum .topic.compact i {
    color: #ff7500;
    font-size: 14px;
    margin-right: 3px;
}

.forum-list .forum .topic.compact .topic-title {
    display: inline-block;
    margin-right: 4px;
    font-weight: normal;
}

.forum.topic-list .sort-topics {
    margin-bottom: 0;
    background: #007fd0;
    padding: 5px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border: 0;
    color: #fff;
    font-size: 0.8em;
}

.forum.topic-list .sort-topics .primary-column-one {
    width: 50%;
}

.forum.topic-list .sort-topics .latest-column {
    width: 50%;
    text-align: right;
}

.forum.topic-list .sort-topics a:link,
.forum.topic-list .sort-topics a:visited {
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.forum.topic-list .sort-topics a:hover,
.forum.topic-list .sort-topics a:active {
    background: #ff7500;
    text-decoration: none;
}

.forum.topic-list .sort-topics a.primary-column-two,
.forum.topic-list .sort-topics a.replies-column {
    display: none;
}

.forum.topic-list .sort-topics i {
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    margin-left: 4px;
}

.forum.topic-list .topics-container {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.forum.topic-list .important-topics {
    border-bottom: 2px solid #ddd;
}

.forum.topic-list .topic {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    line-height: 1.4;
    padding-left: 60px;
}

.forum.topic-list .topic:before,
.forum.topic-list .topic:after {
    content: " ";
    display: table;
}

.forum.topic-list .topic:after {
    clear: both;
}

.forum.topic-list .topic {
    *zoom: 1;
}

.forum.topic-list .topic .unread-count {
    background: #eb5257;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 7px 2px 6px;
    margin: 0 0 0 6px;
    font-weight: normal;
    font-size: 0.8em;
    text-decoration: none;
}

.forum.topic-list .topic .unread-count:hover {
    background-color: #c8212e;
}

.forum.topic-list .topic .unread-count i {
    margin-left: 3px;
}

.forum.topic-list .topic .contains-new-posts {
    color: #eb5257;
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
    text-decoration: none;
}

.forum.topic-list .topic .contains-new-posts i {
    font-size: 14px;
    margin-right: 2px;
}

.forum.topic-list .topic .contains-new-posts:hover {
    color: #c8212e;
}

.forum.topic-list .topic .primary-column .topic-title {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: normal;
}

.forum.topic-list .topic .primary-column .topic-title.unread {
    font-weight: bold;
}

.forum.topic-list .topic .primary-column .topic-title.moved {
    color: #888;
}

.forum.topic-list .topic .primary-column {
    position: relative;
}

.forum.topic-list .topic .icons {
    float: right;
    color: #666;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
}

.forum.topic-list .topic .icons i {
    margin-left: 8px;
}

.forum.topic-list .topic .icons i.fa-thumb-tack {
    color: #007fd0;
}

.forum.topic-list .topic .replies-column {
    display: none;
}

.forum.topic-list .topic .first-post,
.forum.topic-list .topic .latest-post {
    font-size: 0.8em;
    color: #999;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.forum.topic-list .topic .first-post a {
    color: #666;
}

.forum.topic-list .topic .first-post .post-author:after {
    content: ",";
}

@media only screen and (max-width: 768px) { 
    .forum.topic-list .topic .latest-post .post-author:after {
        content: ",";
    }
}

.forum.topic-list .topic a.post-date {
    color: #999;
}

.forum.topic-list .topic .first-post,
.forum.topic-list .topic h4 {
    display: none;
}

.forum.topic-list .topic {
    position: relative;
}

.forum.topic-list .topic .avatar-profile-link {
    width: 44px;
    float: left;
    margin: 8px 12px 0 6px;
    position: absolute;
    top: 0;
    left: 0;
}

.forum.topic-list .topic .avatar-profile-link .avatar {
    width: 44px;
    height: 44px;
}

.topic-list .topic {
    line-height: 1.4em;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}


.forum-list .topic {
    padding: 0;
    border: 0;
}

aside .latest-discussions h3 {
    margin-bottom: 0;
}

aside .latest-discussions .topic .topic-title {
    font-size: 1em;
}

aside .latest-discussions .topic:last-child {
    border-bottom: 0;
}


/* Generic Thread List (e.g. following page, latest discussions, etc.) */
.topic-list .topic .avatar-profile-link {
    width: 40px;
    float: left;
    margin: 3px 12px 3px 0;
}

aside .latest-discussions .topic .avatar-profile-link {
    margin: 0 12px 0 -8px;
}

.topic-list .topic .avatar-profile-link .avatar {
    width: 40px;
    height: 40px;
}

.topic-list .topic .topic-info {
    margin-left: 52px;
}

aside .latest-discussions .topic .topic-info {
    margin-left: 40px;
}

.topic-list .topic .topic-title {
    margin: 1px 0 0 0;
    font-size: 1em;
    font-weight: normal;
}

.topic-list .topic .topic-title.unread {
    font-weight: bold;
}

.topic-list .topic .latest-post {
    font-size: 0.8em;
    color: #999;
    margin: 0;
    display: inline-block;
}

.topic-list .topic .latest-post a {
    color: #666;
}

.topic-list .topic .forum {
    display: inline-block;
    font-size: 0.8em;
    color: #999;
    margin: 0;
    display: none;
}

.topic-list .topic .forum a {
    color: #888;
}

.topic-list .topic .topic-replies {
    margin: 0;
    margin-left: 12px;
    font-size: 0.8em;
    color: #888;
    display: none;
}

.topic-list .topic .topic-replies i {
    color: #bbb;
    margin-right: 4px;
}

.topic-list .topic .topic-replies .text {
    display: none;
}

.forum-list .forum .icons,
.topic-list .topic .icons {
    margin-left: 16px;
}

.forum-list .forum .icons i.fa-envelope,
.topic-list .topic .icons i.fa-envelope {
    color: #007fd0;
    font-size: 14px;
}

aside .topic-list .topic .latest-post {
    margin-right: 8px;
}

aside .topic-list .topic .topic-replies {
    float: none;
    color: #999;
    margin-left: 0;
}

/* Post Listing within a topic */
.topic.highlight,
.forum.highlight {
    background-color: #ebf4fb;
    border-color: #afd9fa;
    border-top: 1px solid #afd9fa;
    margin-top: -1px;
}


.soft-deleted {
    background: #ece3fa;
    border-color: #ddcafa;
}

.topic .post.pending-approval {
    background: #f2dede;
    border-color: #f2aaab;
}

.topic .post.highlight {
    background-color: #ebf4fb;
    border-color: #afd9fa;
}

.topic .post .post-meta {
    padding: 4px 6px 12px 0;
}

.topic .post .post-meta .status-notice {
    margin-left: 16px;
    font-size: 0.8em;
    font-weight: bold;
}

.topic .post .post-meta .status-notice i {
    color: #666;
    font-size: 14px;
    margin-right: 3px;
}

.topic .post .avatar-profile-link {
    float: left;
    width: 40px;
    margin: 7px 10px 0 0;
}

.topic .post .avatar {
    width: 40px;
    height: 40px;
}

.topic .post {
    border: 1px solid #ccc;
    padding: 8px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 25px;
}

.topic .post .post-meta h3 {
    font-size: 1em;
    margin: 0;
}

.topic .post .post-meta h3 a:link,
.topic .post .post-meta h3 a:visited {
    color: #007fd0;
}

.topic .post .post-meta h3 a:hover,
.topic .post .post-meta h3 a:active {
    color: #ff7500;
}

.topic .post .post-meta .post-date {
    font-size: 0.8em;
    color: #666;
}

.topic .post .post-meta .edit-log {
    font-size: 0.7em;
    margin-left: 4px;
}

.topic .post .post-meta a:link,
.topic .post .post-meta a:visited {
    color: #666;
}

.topic .post .post-meta a:hover,
.topic .post .post-meta a:active {
    color: #ff7500;
}

.topic .post .team-badge {
    display: none;
}

.topic .post .post-body {
    padding: 0 6px 3px 6px;
}

.topic .post .post-body p {
    font-size: 0.9em;
    margin: 0 0 6px 0;
}

.topic .post .signature {
    border-top: 1px dotted #ccc;
    padding: 6px 6px 0;
    margin: 12px 0 0 0;
    font-size: 0.8em;
}

.topic .post .post-controls {
    list-style: none;
    margin: 0 0 0;
    padding: 4px;
    text-align: right;
}

.topic .post .post-controls li {
    display: inline-block;
}

.topic .post .post-controls li a:link,
.topic .post .post-controls li a:visited {
    color: #777;
    padding: 0 5px;
}

.topic .post .post-controls li a:hover,
.topic .post .post-controls li a:active {
    color: #ff7500;
    text-decoration: none;
}

.topic .post .post-controls i {
    font-size: 14px;
}

.topic .post .post-controls .text {
    display: none;
    font-size: 0.7em;
    margin-left: 6px;
}

.topic .post .post-controls li.like,
.topic .post .post-controls li.quote,
.topic .post .post-controls li.approve,
.topic .post .post-controls li.restore {
    float: left;
}

.topic .post .post-controls li.like .text,
.topic .post .post-controls li.quote .text,
.topic .post .post-controls li.approve .text,
.topic .post .post-controls li.restore .text {
    display: inline;
}

.topic .post .likes {
    font-size: 0.8em;
    padding: 8px 8px 4px 8px;
    margin: 8px 0 0 0;
    border-top: 1px solid #ddd;
    color: #999;
}

.topic .post .likes i {
    margin-right: 5px;
}

.topic .post .likes a {
    color: #666;
}

.topic .post .inline-mod {
    float: right;
    margin: -20px 0 0 7px;
}

.topic .post .post-body img {
    max-width: 100%;
}

.topic .post .post-body blockquote {
    border-left: 2px solid #007fd0;
    padding: 10px 20px;
    margin: 20px 12px;
    font-size: 0.9em;
}

.topic .post .post-body blockquote cite {
    font-weight: normal;
    display: block;
    font-style: normal;
    color: #666;
}

.topic .post .post-body blockquote cite .quote-user {
    font-weight: bold;
    color: #000;
}

.topic .post .post-body blockquote cite .quote-date {
    color: #444;
}

.topic .post.reply .full-reply {
    float: right;
}

.topic .post.reply .full-reply span.text {
    display: none;
}

.topic .post.reply .post-foot {
    margin: 5px 0;
}

.inline-moderation {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 0.9em;
    text-align: center;
}

html.js .inline-moderation {
    display: none;
}

html.js .inline-moderation.floating {
    display: block;
    float: left;
    position: fixed;
    background: #444;
    border-color: #444;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border-top: 2px solid #222;
    width: 100%;
    box-sizing: border-box;
}

html.js .inline-moderation.floating h2 {
    color: #bbb;
}

html.js .inline-moderation.floating a:link, 
html.js .inline-moderation.floating a:visited {
    color: #ddd;
}

html.js .inline-moderation.floating i {
    color: #bbb;
}

.inline-moderation h2 {
    font-weight: normal;
    font-size: 1em;
    color: #666;
    margin: 0 8px 0 0;
    padding: 0;
    border: none;
    display: inline-block;
}

.inline-moderation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.inline-moderation ul li {
    display: inline-block;
    margin: 0 8px;
}

.inline-moderation i {
    margin-right: 4px;
}

.compact-users-list a {
    display: inline-block;
    margin: 0 12px 10px 0;
}

.compact-users-list .avatar {
    width: 24px;
    height: 24px;
    margin: -2px 8px 0 0;
}

.sort-footer {
    text-align: center;
    border: 1px solid #ccc;
    border-top: 2px solid #ddd;
    padding: 4px 0;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.sort-footer h3 {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    font-weight: normal;
    color: #666;
    font-size: 0.9em;
}

.sort-footer .button {
    padding: 0 8px;
}

.user-list {
    
}

.user-list .user {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    margin: 0 0 12px 0;
}

.user-list .user .avatar-profile-link {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 12px 0 0;
}

.user-list .user .avatar-profile-link img.avatar {
    width: 80px;
    height: 80px;
}

.user-list .user h3.username {
    margin: 0;
    font-size: 1em;
}

.user-list .user h4.usertitle {
    font-size: 0.8em;
    font-weight: normal;
    margin: -4px 0 0 0;
}

.user-list .user .team-badge {
    float: right;
    position: relative;
    margin: -48px 0 0 0;
    font-size: 0.7em;
    padding: 3px 8px;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    display: inline;
    line-height: 1.6;
}

.user-list .user .team-badge i {
    margin-right: 5px;
}

dl.stats {
    line-height: 1.6;
    margin: 0;
    font-size: 0.7em;
    display: table-cell;
}

dl.stats dt {
    float: left;
    margin: 0 8px 0 0;
    color: #999;
    /*clear: both;*/
}

dl.stats dt:after {
    content: ":";
}

dl.stats dd {
   padding: 0 0;
   margin: 0;
   display: table-cell;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    clear: both;
    /*display: none;*/
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination a {
    padding: 4px 7px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.pagination li a:hover,
.pagination span.next-page a:hover,
.pagination span.previous-page a:hover {
    background: #ff7500;
    color: #fff;
    text-decoration: none;
}

.pagination .next-page a,
.pagination .previous-page a {
    background: #007fd0;
    color: #fff;
    padding: 4px 10px;
}

.pagination .next-page {
    width: 50%;
    float: right;
    margin: 0 0 20px 0;
}

.pagination .next-page i {
    margin-left: 5px;
}

.pagination .previous-page {
    width: 50%;
    float: left;
    margin: 0 0 20px 0;
}

.pagination .previous-page i {
    margin-right: 5px;
}

.pagination .pages {
    clear: both;
    margin: 0;
    padding: 0;
}

.pagination .current-page a {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
}

.pagination .ellipsis a {
    color: #999;
}

.pagination .ellipsis i {
    font-size: 14px;
}

.pagination .ellipsis .text {
    display: none;
}

section.form {
    border: 1px solid #dfdfdf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
}

section.form .form-section {
    padding: 16px 12px;
    border-bottom: 2px solid #ddd;
}

section.form .form-section:last-child {
    border-bottom: 0;
}

section.form .form-section h2 {
    margin: 0 0 12px 0;
    padding: 0 8px 8px 8px;
    color: #007fd0;
    font-size: 1.1em;
    border-bottom: 1px dotted #ccc;
}

section.form .form-row {
    border-bottom: 1px solid #ddd;
    padding: 12px 8px;
}

section.form .form-row:first-child {
    padding-top: 0;
}

section.form .form-row:last-child {
    border-bottom: 0;
    padding-bottom: 6px;
}

section.form .form-row h3 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 1em;
}

section.form .form-row h4 {
    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #007fd0;
    margin: 0;
}

section.form label {
    cursor: pointer;
}

section.form .topic-title {
    font-size: 1.3em;
}

section.form .buttons {
	margin: -5px;
}

.compact-users-list.blocked-users {
    margin-bottom: 10px;
}

section.form .radio-buttons,
section.form .checkbox-buttons {
    font-size: 0.8em;
}

section.form .radio-buttons.inline {
    padding: 0;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

section.form .radio-buttons.inline .button-container {
    display: inline-block;
    margin: 0;
    padding: 0;
}

section.form .radio-buttons .button-container,
section.form .checkbox-buttons .button-container {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
}

section.form .radio-buttons .radio-button,
section.form .checkbox-buttons .checkbox-button {
    display: block;
    padding: 3px 8px 3px 34px;
    margin: 5px 10px 0 0;
    background: #fafafa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

section.form .radio-buttons.inline .radio-button {
    display: inline-block;
    margin: 0;
    padding: 3px 8px;
    background: none;
    border-radius: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid transparent;
    position: relative;
    z-index: 10;
}

section.form .radio-buttons.inline :first-child .radio-button {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid transparent;
}

section.form .radio-buttons.inline :last-child .radio-button {
    border-radius: 0 4px 4px 0;
}

section.form .radio-buttons .radio-button i,
section.form .checkbox-buttons .checkbox-button i {
    color: #999;
    font-size: 14px;
    margin: 6px 8px -20px -20px;
    float: left;
}

section.form .radio-buttons.inline .radio-button i {
    margin: 0 6px 0 0;
    float: none;
}

section.form .radio-buttons .button-container input,
section.form .checkbox-buttons .button-container input {
    position: absolute;
    /*top: -20px;*/
    visibility: hidden;
}

section.form .radio-buttons input:checked + .radio-button {
    /*color: #fff;
    background-color: #ff7500;*/
    background-color: #ccc;
}

section.form .radio-buttons.inline input:checked + .radio-button {
    background-color: #007fd0;
    color: #fff;
    margin: -1px;
    border: 1px solid #007fd0;
    z-index: 15;
}

section.form .radio-buttons.inline input:checked + .radio-button i {
    color: #fff;
}

section.form .checkbox-buttons input:checked + .checkbox-button {
    background-color: #ccc;
}

section.form .radio-buttons label .custom-tool {
    font-size: 0.7em;
    color: #666;
    text-transform: uppercase;
    margin-left: 3px;
    padding: 2px 4px;
    border-radius: 3px;
}

section.form .radio-buttons input:checked + .radio-button i,
section.form .checkbox-buttons input:checked + .checkbox-button i {
    color: rgba(255,255,255,0.7);
    color: #555;
}

section.form .radio-buttons input:checked + .radio-button .custom-tool {
    color: #fff;
    border-color: rgba(255,255,255,0.4);
}

section.form .form-row p.checkbox {
	font-size: 0.9em;
	margin: 5px 0;
	padding: 0 0 0 30px;
}

section.form .form-row p.checkbox input[type="checkbox"] {
	float: left;
	margin: 6px 0 0 -26px;
}

section.form .form-row p.checkbox i {
    color: #999;
    padding-right: 5px;
    width: 16px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

section.form .form-row p.checkbox:last-child {
    margin-bottom: 0;
}

section.form .form-row p.description {
    font-size: 0.8em;
    line-height: 1.4;
    color: #666;
    margin: -4px 0 4px 0;
}

section.form .form-row p.form-data {
    margin:  0 0 0;
    font-size: 0.9em;
}

section.form .form-row p.captcha {
    margin: 0 0 10px 0;
}

section.form .form-row p.description.captcha-description {
    margin: 8px 0 0 0;
}

.form-submit {
    text-align: center;
    padding: 10px 0;
}

.form-submit .button {
    font-size: 1em;
    padding: 6px 12px;
}

.form-submit .button i {
    font-size: 18px;
    margin-right: 8px;
}

input[type="text"],
input[type="password"] {
     border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em;
    outline: 0;
}

select {
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    font-size: 0.9em;
    outline: none;
    max-width: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select[multiple="multiple"] {
    width: 100%;
    height: 200px;
}

input.short {
    width: 50px;
    font: 12px Open Sans, Helvetica, Helvetica Neue, Arial;
}

input.small {
    width: 50px;
    margin-left: 6px;
    margin-right: 6px;
}

input[type="password"].confirm-password {
    width: 49%;
    margin-right: 2%;
}

input[type="password"].confirm-password:last-child {
    margin-right: 0;
}

textarea {
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em;
    outline: 0;
}

a:focus,
button:focus {
    outline: 0;
}

.button {
    color: #fff;
    background: #007fd0; /* Old browsers */
    padding: 5px 10px;
    font-size: 0.9em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #007fd0;
    margin: 5px;
}

a.button {
    color: #fff;
    padding: 2px 10px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background: #ff7500;
    border-color: #ff7500;
}

.button.secondary {
    border: 1px solid #ddd;
    background: #fff;
    color: #007fd0;
}

.button.secondary:hover {
    color: #ff7500;
}

.button i {
    margin-right: 5px;
    font-size: 14px;
}

.button:hover,
.button:active {
    outline: none;
}

section.form .form-row.secondary-buttons {
    padding: 6px 4px;
}

.post-draft {
    color: #666;
    margin-top: 5px;
    font-size: 0.8em;
    float: right;
}

.page-controls {
    margin: -5px;
}

nav.account-menu ul {
    margin: 0 0 15px 0;
    padding: 0;
}

nav.account-menu ul li {
    float: left;
    width: 48%;
    margin-bottom: 4px;
}

nav.account-menu ul li:nth-child(odd) {
    margin-right: 2%;
}

nav.account-menu ul li:nth-child(even) {
    margin-left: 2%;
}

nav.account-menu ul li a {
    background: #fafafa;
    display: block;
    padding: 2px 8px;
    text-decoration: none;
    border-radius: 3px;
}

nav.account-menu ul li a:hover {
    background-color: #ff7500;
    color: #fff;
    border-color: #ff7500;
    border-radius: 3px;
}

nav.account-menu ul li.active a {
    background-color: #007fd0;
    color: #fff;
    border-color: #007fd0;
    border-radius: 3px;
}

nav.account-menu ul li a i {
    padding-right: 5px;
    width: 16px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

article .account-body header {
	margin-bottom: 10px;
}

article .account-body header h1 {
	font-size: 1.2em;
	margin-bottom: 0;
}

section.form .form-section .form-row-container.change-avatar {
	padding-left: 130px;
}

section.form .change-avatar .avatar-profile-link {
	float: left;
	margin: 0 10px 0 -110px;
}

section.form .change-avatar p {
	padding: 0 0 0 5px;
	margin: 0 0 10px 0;
	font-size: 0.9em;
	color: #666;
	line-height: 1.4;
}

section.form .change-avatar .avatar-profile-link .avatar {
	width: 100px;
	height: 100px;
}

section.form .change-avatar .buttons {
	margin-left: 0;
}

/* Dropdown Menus */
.dropdown-menu {
    float: right;
    text-align: right;
    margin: 0 0 -4px 0;
}

.dropdown-menu .dropdown-button {
    font-size: 0.8em;
    color: #666;
    display: inline-block;
    border: 1px solid transparent;
    padding: 1px 8px;
    border-radius: 4px;
    background: #eaeaea;
}

.dropdown-menu .dropdown-button .full {
    display: none;
}

.dropdown-menu .dropdown-button:hover {
    cursor: pointer;
    color: #444;
    background: #ddd;
}

.dropdown-menu ul.dropdown {
    display: none;
    right: 0;
    left: auto;
    margin-top: 2px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    text-align: left;
    font-size: 0.9em;
    white-space: nowrap;
    padding: 4px 0;
}

.dropdown-menu ul.dropdown li a {
    padding: 3px 10px;
    display: block;
}

.dropdown-menu ul.dropdown li a:hover {
    background: #ff7500;
    color: #fff;
    text-decoration: none;
}

.dropdown-menu ul.dropdown li a i {
    width: 16px;
    text-align: center;
    margin-right: 8px;
}

.checkbox-select {
    float: right;
    margin: -4px 7px 0 12px;
}

.checkbox-select.check-all {
    margin: 12px 19px 0 0;
}

@media only screen and (max-width: 320px) {

    .forum.topic-list .topic .icons {
        display: none;
    }

}


/* ----

    INTERMEDIATE WIDTH

---- */

@media only screen and (min-width: 480px) {

    nav.menu-bar {
        margin: 0;
    }

    nav.menu-bar ul li a {
        float: left;
        margin: 0 0 0 0.7%;
        padding: 6px 15px;
        margin-bottom: 0;
        width: auto;
    }

    nav.menu-bar ul li:first-child > a {
        margin-left: 0;
    }

    nav.menu-bar ul li:last-child a {
        margin-right: 0;
    }

    nav.menu-bar .active-user {
        margin-bottom: -30px;
    }

    .topic-list .topic .forum {
        display: inline-block;
    }

    .topic-list .topic .topic-replies {
        display: inline-block;
    }

    .topic .post .post-meta h3 {
        display: inline-block;
    }

    .topic .post .post-meta .post-date {
        margin: 0 0 0 10px;
    }

    .topic .post .post-meta {
        padding: 4px 6px 8px 6px;
    }

    .topic .post .avatar-profile-link {
        float: left;
        width: 70px;
        margin: -13px 0 0 -100px;
    }

    .topic .post .avatar-profile-link .avatar {
        width: 70px;
        height: 70px;
    }

    .topic .post {
        margin-left: 80px;
    }

    .topic .post .inline-mod {
        margin-top: 7px;
    }

    .dropdown-menu .dropdown-button .full {
        display: inline;
    }

    .dropdown-menu .dropdown-button .condensed {
        display: none;
    }

    .dropdown-menu {
        margin: -15px 0 -4px 0;
    }

    .dropdown-menu .dropdown-button {
        padding: 3px 8px;
    }

    .checkbox-select {
        margin: 12px 0 0 12px;
    }

    .checkbox-select.check-all {
        margin: 12px 12px 0 0;
    }
}

/* ----

    FULL WIDTH

---- */

@media only screen and (min-width: 768px) {

    h1.title {
        margin: 20px 2% 15px 0;
    }

    .title a#logo {
        background-image: url("../images/logo2.png");
        width: 188px;
        height: 55px;
    }

    nav#main-menu.menu-bar ul {
        display: block;
    }

    nav#main-menu.menu-bar .menu-button {
        display: none;
    }

    nav#main-menu.menu-bar ul li {
        display: inline-block;
    }

    nav.menu-bar ul li a {
        background: none;
        border-left: 1px solid #ddd;
        margin: 0;
    }

    nav#main-menu.menu-bar ul li:first-child a {
        border-left: 0;
    }

    /*
    nav.menu-bar .dropdown-container {
        margin-top: 25px;
    }
    */

    .footer-container footer {
        padding: 20px 0 10px;
    }

    .footer-container footer h3 {
        margin: 0 0;
        float: left;
        padding: 5px 12px 5px 0;
    }

    .main article {
        float: left;
        width: 60%;
    }

    .main article.full-width,
    .main article.full-width-with-menu {
        width: 100%;
        float: none;
    }

    .main article.centered-full-width {
        width: 60%;
        float: none;
        margin: auto auto;
    }

    .main aside {
        float: right;
        width: 35%;
        margin-top: 0;
    }

    #search .search-button {
        display: none;
    }

    #search .search-container {
        float: right;
        display: block;
        width: 35%;
        clear: none;
        margin-top: 10px;
    }

    .full-width .forum-list .forum .forum-info {
        float: left;
        width: 60%;
    }

    .full-width .forum-list .forum .topic.compact {
        float: right;
        width: 35%;
        border: none;
        margin: 0;
        padding: 4px 0;
    }

    .full-width .forum-list .forum .topic.compact .avatar-profile-link {
        width: 36px;
        height: 36px;
        margin: 6px 10px 0 0;
    }

    .full-width .forum-list .forum .topic.compact .avatar {
        width: 36px;
        height: 36px;
    }

    .full-width .forum-list .forum .topic.compact .topic-title {
        font-size: 0.8em;
    }

    .full-width .forum-list .forum .topic.compact .latest-post {
        margin-left: 34px;
        display: block;
    }

    .forum.topic-list .sort-topics a.primary-column-one,
    .forum.topic-list .sort-topics a.primary-column-two {
        width: 29%;
    }

    .forum.topic-list .sort-topics a.primary-column-two {
        text-align: right;
        display: inline-block;
    }

    .forum.topic-list .sort-topics a.replies-column {
        width: 12%;
        display: inline-block;
        text-align: center;
    }

    .forum.topic-list .sort-topics a.latest-column {
        width: 30%;
        text-align: left;
    }

    .forum.topic-list .topic {
        padding: 8px 12px;
    }

    .forum.topic-list .topic .primary-column {
        width: 58%;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .forum.topic-list .topic .primary-column .topic-title {
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-weight: normal;
    }

    .forum.topic-list .topic .primary-column .topic-title.unread {
        font-weight: bold;
    }

    .forum.topic-list .topic .primary-column .topic-title.moved {
        color: #888;
    }

    .forum.topic-list .topic .icons {
        float: right;
        color: #666;
        font-size: 14px;
    }

    .forum.topic-list .topic .icons i {
        margin-left: 8px;
    }

    .forum.topic-list .topic .icons i.fa-thumb-tack {
        color: #007fd0;
    }

    .forum.topic-list .topic .first-post,
    .forum.topic-list .topic .latest-post {
        font-size: 0.8em;
        color: #999;
        margin: 0;
        display: inline-block;
        padding: 0;
    }

    .forum.topic-list .topic .first-post a {
        color: #666;
    }

    .forum.topic-list .topic .first-post .post-author:after {
        content: ",";
    }

    .forum.topic-list .topic a.post-date {
        color: #999;
    }

    .forum.topic-list .topic .latest-post .post-author {
        display: block;
        font-size: 1.2em;
    }

    .forum.topic-list .topic .replies-column {
        width: 12%;
        float: left;
        text-align: center;
        color: #666;
        display: block;
    }

    .forum.topic-list .topic .replies-column p {
        margin: 11px 0;
        float: none;

    }

    .forum.topic-list .topic .latest-column {
        width: 30%;
        float: left;
    }

    .forum.topic-list .topic .avatar-profile-link {
        margin: 0 12px 0 6px;
        position: relative;
        top: auto;
        left: auto;
    }

    .topic .post .avatar-profile-link {
        width: 100px;
        margin-left: -130px;
    }

    .topic .post .avatar-profile-link .avatar {
        width: 100px;
        height: 100px;
    }

    .topic .post {
        margin-left: 110px;
    }

    .topic .post .post-meta .team-badge {
        font-size: 0.7em;
        padding: 3px 8px;
        border: 1px solid #ddd;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #666;
        margin: 0 0 0 10px;
        display: inline;
    }

    .topic .post .post-meta .team-badge i {
        margin-right: 5px;
    }

    .user-list .user {
        float: left;
        width: 49%;
        margin: 0 1% 12px 0;
        box-sizing: border-box;
    }

    .page-controls {
        float: right;
        margin: -46px -5px 0 0;
    }

    .pagination .next-page,
    .pagination .previous-page {
        margin: 0;
        width: 20%;
    }

    .pagination .pages {
        clear: none;
    }


    nav.account-menu {
        float: left;
        width: 19%;
        margin-right: 3%;
    }

    nav.account-menu ul {
        margin: 0;
    }

    nav.account-menu ul li,
    nav.account-menu ul li:nth-child(odd),
    nav.account-menu ul li:nth-child(even) {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    nav.account-menu ul li:last-child a {
        border-bottom: 0;
    }

    .account-body {
        float: left;
        width: 78%;
    }

    section.form .form-section {
        padding: 20px 12px;
    }

    section.form .form-section:last-child {
        padding-bottom: 12px;
    }

    section.form .form-section h2 {
        border: 0;
        float: left;
        margin: 0;
        padding: 0;
        width: 20%;
        text-align: right;
    }

    section.form .form-section .form-row-container {
        float: left;
        margin: 0 0 0 3%;
        padding: 0 0 0 20px;
        border-left: 1px dotted #ccc;
        width: 74%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* ----

    EXTRA WIDE

---- */

@media only screen and (min-width: 1140px) {

    .wrapper {
        max-width: 1250px;
        margin: 0 auto;
    }
}


/* ----

    "RETINA" DISPLAY LOGO

---- */

@media all and (-webkit-min-device-pixel-ratio: 2) {
    
    .title a#logo {
        background-image: url("../images/logo2@2x.png");
        background-size: 188px 55px;
    }

}

@media all and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) {

    .title a#logo {
        background-image: url("../images/logo_mobile@2x.png");
        background-size: 137px 40px;
    }

}
/* ----

    HELPER CLASSES

---- */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ----

    PRINT STYLES

---- */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
