/* 
 *	Base variables
 */

// Theme colors
$primary-color:		#007fd0;
$secondary-color:	#ff7500;

// Font colors
$font-color: 		#222;
$invert-font-color: #fff;
$alt-font-color-1:	#666;
$alt-font-color-2:	#999;
$alt-font-color-3:	#ccc;
$alt-font-color-4:	#444;

// Border colors
$border-1:			#dfdfdf;
$border-2:			#ccc;
$dark-border-1:		#222;

// Background colors
$background-1:		#fafafa;
$background-2:		#f2f2f2;
$background-3:		#eee;
$dark-background-1:	#333;
$dark-background-2: #444;
$red-highlight:		#eb5257;

// Fonts
$font-stack:		Open Sans, Helvetica Neue, Helvetica, Arial; // note: Open Sans is imported in headerinclude.twig template


/*
 *	Mixins 
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin black-transparency($transparency) {
	color: rgba(0,0,0,$transparency);
}

@mixin white-transparency($transparency) {
	color: rgba(255,255,255,$transparency);
}


/*
 *	Base styling
 */

html, button, input, select, textarea {
	color: $font-color;
}

::selection {
	background: $secondary-color;
	color: $invert-font-color;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

body {
	margin: 0;
	font: 16px/26px $font-stack;
}

input, select, textarea, button {
	font: 16px $font-stack;
}

a:link,
a:visited {
	color: $primary-color;
	text-decoration: none;
}

a:hover,
a:active {
	color: $secondary-color;
	text-decoration: underline;
}

.wrapper {
	width: 90%;
	margin: 0 5%;
}

@media only screen and (max-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

	.wrapper {
        max-width: 1250px;
        margin: 0 auto;
    }

}

/*
 *	Import our sub files
 */

@import 'header_footer';
@import 'base';
@import 'forms';


/*
 *	Helper classes
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*
 *	Import legacy CSS (this is to be rewritten)
 */

@import 'plugins';
@import 'legacy';