{% extends "layouts.admin" %}
{% block title %}{% endblock %}
{% block contents %}
    <div class="admin-body__header">
        <h1 class="admin-body__header__title">Dashboard</h1>
    </div>
{% endblock %}
