<header class="admin-header">
    <div style="overflow: hidden; width: 50%; float: left;">
        <h1 class="title" style="padding: 0; margin: 19px 0 0 19px;"><a href="{{ url_route('forum.index') }}" id="logo"><span>Control Panel</span></a></h1>
        {{ Breadcrumbs.renderIfExists() }}
    </div>
    <nav class="main-menu menu-bar" style="margin-top: 20px;">
        <div class="main-menu__container">
            <ul>
                <li><a href="#" class="multi-link">Admin <i class="fa fa-caret-down"></i></a></li>
            </ul>
        </div>
    </nav>
</header>
