<header class="admin-header">
    <div class="header-bar">
        <h1 class="title admin-header__logo">
            <a href="{{ url_route('forum.index') }}" id="logo">
                {{ source('assets/images/logo-knockout.svg') }}
                <span class="visually-hidden">MyBB Admin Control Panel</span>
            </a>
        </h1>
        <div class="show-menu">
            <a href="#" class="show-menu__link">
                <i class="fa fa-bars"></i>
                <span class="text">Show Menu</span>
            </a>
        </div>
        <div class="admin-header__breadcrumb">
            <div class="admin-header__breadcrumb__trail">
                {{ Breadcrumbs.renderIfExists() }}
            </div>
        </div>
    </div>
</header>
