<header class="admin-header">
    <div class="header-bar">
        <div class="show-menu">
            <a href="#" class="show-menu__link">
                <i class="fa fa-bars"></i>
                <span class="text">Show Menu</span>
            </a>
        </div>
        <div class="user-menu">
            <a href="#" class="multi-link">{{ auth_user().name }} <i class="fa fa-caret-down"></i></a>
        </div>
        <div class="breadcrumb">
            <h1 class="title breadcrumb__logo"><a href="{{ url_route('forum.index') }}" id="logo"><span>Control Panel</span></a></h1>
            <div class="breadcrumb__trail">
                {{ Breadcrumbs.renderIfExists() }}
            </div>
        </div>
    </div>
</header>
