html[dir="rtl"] {
	input.small {
		margin-right: 6px;
		margin-left: 6px;
	}
	section.form {
		p.form__checkbox {
			padding: 0 30px 0 0;
			input[type="checkbox"] {
				float: right;
				margin: 6px -26px 0 0;
			}
			i {
				padding-left: 5px;
			}
		}
	}
	.form__submit {
		.button {
			i {
				margin-left: 8px;
			}
		}
	}
	.segmented-control {
		.segmented-control__button {
			border-right: 1px solid $border-2;
			border-left: 1px solid transparent;
			i {
				margin: 0 0 0 6px;
			}
		}
		:first-child .segmented-control__button {
			border-right: 1px solid transparent;
		}
	}
	.select-control {
		.select-control__button {
			margin: 5px 0 0 10px;
			i {
				margin: 0 0 0 4px;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		section.form {
			.form__section {
				h2 {
					float: right;
					text-align: left;
				}
			}
			.form__section__container {
				float: right;
				margin: 0 3 0 0%;
				padding: 0 20px 0 0;
				border-right: 1px dotted #ccc;
			}
		}
	}
}
