html[dir="rtl"] {
	.compressed-forum-list .category ul {
		padding: 0 15px 0 0;
	}
	.forum-list .forum .unread-count {
		padding: 2px 6px 2px 7px;
	}
	.forum-list .forum .subforums i.fa-level-up {
		margin: 1px -16px 0 0;
		float: right;
	}
	.forum-list .forum .subforums {
		margin: 2px 20px 4px 0;
	}
	.forum-list .forum .subforums li {
		margin: 0 0 4px 12px;
	}
	.forum-list .forum .topic {
		padding: 8px 2px 0 0;
	}
	.forum-list .forum .topic.compact .avatar-profile-link {
		margin: -2px 0 0 10px ;
	}
	.forum-list .forum .topic.compact i {
		margin-left: 3px;
	}
	.forum-list .forum .topic.compact .topic-title {
		margin-left: 4px;
	}
	.forum.topic-list .sort-topics .latest-column {
		text-align: left;
	}
	.forum.topic-list .sort-topics a:link,
	.forum.topic-list .sort-topics a:visited {
		float: right;
	}
	.forum.topic-list .sort-topics i {
		margin-right: 4px;
	}
	.forum.topic-list .topics-container {
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}
	.forum.topic-list .topic {
		padding-right: 60px;
	}
	.forum.topic-list .topic .unread-count {
		padding: 2px 6px 2px 7px;
		margin: 0 6px 0 0;
	}
	.forum.topic-list .topic .unread-count i {
		margin-right: 3px;
	}
	.forum.topic-list .topic .contains-new-posts {
		margin-right: 10px;
	}
	.forum.topic-list .topic .contains-new-posts i {
		margin-left: 2px;
	}
	.forum.topic-list .topic .icons {
		float: left;
		left: 0;
	}
	.forum.topic-list .topic .icons i {
		margin-right: 8px;
	}
	.forum.topic-list .topic .avatar-profile-link {
		float: right;
		margin: 0 6px 0 12px;
	}
	.topic-list .topic .avatar-profile-link {
		float: right;
		margin: 3px 0 3px 12px;
	}
	aside .latest-discussions .topic .avatar-profile-link {
		margin: 0 -8px 0 12px;
	}
	.topic-list .topic .topic-info {
		margin-right: 52px;
	}
	aside .latest-discussions .topic .topic-info {
		margin-right: 40px;
	}
	.topic-list .topic .topic-replies {
		margin-right: 12px;
	}
	.topic-list .topic .topic-replies i {
		margin-left: 4px;
	}
	.forum-list .forum .icons,
	.topic-list .topic .icons {
		margin-right: 16px;
	}
	aside .topic-list .topic .latest-post {
		margin-left: 8px;
	}
	aside .topic-list .topic .topic-replies {
		margin-right: 0;
	}
	html.js .inline-moderation.floating {
		float: right;
		right: 0;
		left: 0;
	}
	.inline-moderation h2 {
		margin: 0 0 0 8px;
	}
	.inline-moderation i {
		margin-left: 4px;
	}
	.compact-users-list a {
		margin: 0 0 10px 12px;
	}
	.compact-users-list .avatar {
		margin: -2px 0 0 8px;
	}
	.sort-footer h3 {
		margin: 0 0 0 10px;
	}
	dl.stats dt {
		float: right;
		margin: 0 0 0 8px;
	}
	.post-draft {
		float: left;
	}
	.dropdown-menu {
		float: left;
		text-align: left;
	}
	.dropdown-menu ul.dropdown {
		left: 0;
		right: auto;
		text-align: right;
	}
	.dropdown-menu ul.dropdown li a i {
		margin-left: 8px;
	}
	.checkbox-select {
		float: left;
		margin: -4px 12px 0 7px;
	}
	.checkbox-select.check-all {
		margin: 12px 0 0 19px;
	}
	@media only screen and (max-width: 320px) {
		.forum.topic-list .topic .icons {
		}
	}
	@media only screen and (min-width: 480px) {
		.checkbox-select {
			margin: 12px 12px 0 0;
		}
		.checkbox-select.check-all {
			margin: 12px 0 0 12px;
		}
	}
	@media only screen and (min-width: 768px) {
		.page-content--full-width .forum-list .forum .forum-info {
			float: right;
		}
		.page-content--full-width .forum-list .forum .topic.compact {
			float: left;
		}
		.page-content--full-width .forum-list .forum .topic.compact .avatar-profile-link {
			margin: 6px 0 0 10px;
		}
		.page-content--full-width .forum-list .forum .topic.compact .latest-post {
			margin-right: 34px;
		}
		.forum.topic-list .sort-topics a.primary-column-two {
			text-align: left;
		}
		.forum.topic-list .sort-topics a.latest-column {
			text-align: right;
		}
		.forum.topic-list .topic .primary-column {
			float: right;
		}
		.forum.topic-list .topic .icons {
			float: left;
		}
		.forum.topic-list .topic .icons i {
			margin-right: 8px;
		}
		.forum.topic-list .topic .replies-column {
			float: right;
		}
		.forum.topic-list .topic .replies-column p {
		}
		.forum.topic-list .topic .latest-column {
			float: right;
		}
	}
}
