html[dir="rtl"] {
	.modal .page-content header .page-controls {
		margin: -50px 0 0 8px;
	}
	.modal .page-content section.form h2 {
		text-align: right;
	}
	.modal a.close-modal {
		left: -12.5px;
	}
	.modal-spinner {
		right: 50%;
		margin-left: -32px;
	}
	@media screen and (max-height: 758px) {
		.modal .page-content section.form {
		}
	}
	@media screen and (max-height: 524px) {
		.modal .page-content section.form {
		}
	}
	@media screen and (max-height: 458px) {
		.modal .page-content section.form {
		}
	}
	#powerTip.n:before, #powerTip.s:before {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		right: 50%;
		margin-right: -5px;
	}
	#powerTip.e:before {
		border-left: 5px solid #333;
		border-left: 5px solid rgba(0, 0, 0, 0.8);
		right: -5px;
	}
	#powerTip.w:before {
		border-right: 5px solid #333;
		border-right: 5px solid rgba(0, 0, 0, 0.8);
		left: -5px;
	}
	#powerTip.ne:before, #powerTip.se:before {
		border-left: 5px solid transparent;
		border-right: 0;
		right: 10px;
	}
	#powerTip.nw:before, #powerTip.sw:before {
		border-right: 5px solid transparent;
		border-left: 0;
		left: 10px;
	}
	#powerTip.nw-alt:before, #powerTip.ne-alt:before,
	#powerTip.sw-alt:before, #powerTip.se-alt:before {
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		right: 10px;
	}
	#powerTip.ne-alt:before {
		right: auto;
		left: 10px;
	}
	#powerTip.se-alt:before {
		right: auto;
		left: 10px;
	}
	.stepper .stepper-arrow.up {
		float: left;
		left: 0;
		border-right: 1px solid #ccc;
	}
	.stepper .stepper-arrow.down {
		float: right;
		right: 0;
		border-left: 1px solid #ccc;
	}
	.hideShowPassword-toggle {
		margin-left: 2px;
	}
	.dropit .dropit-submenu {
		right: 0;
	}
}
