{% extends "layouts.admin" %}
{% block title %}{% endblock %}
{% block contents %}
    <h1 style="border-bottom: 2px solid #eee; padding-bottom: 15px;">Settings</h1>

    <div style="background: #f5f5f5; padding: 1px 0 5px 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;">
        <h3 style="margin-bottom: 0;"><a href="{{ url_route('admin.settings.profile_fields') }}">Profile Fields</a></h3>
        <p style="margin-top: 0;">Customise profile fields that your users can fill out.</p>
    </div>
{% endblock %}
