.admin-layout {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1;
}

.admin-body {
	border-top: 2px solid $border-1;
	flex: 1;

	.admin-body__header {
		background: $background-1;
		border-bottom: 2px solid $border-1;
		padding: 30px;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.admin-body__header__title {
			margin: 5px 0;
			font-size: 2em;
			font-weight: normal;
			flex: 1;
		}

		.admin-body__header__buttons {

			.button {
				margin: side-values(0 0 0 5px);
			}
		}
	}

	.admin-body__content {
		padding: 30px;
	}
}

.admin-table {
	width: 100%;

	&.admin-table--bordered {
		border-radius: 5px;
		border-collapse: separate;

		td {
			border-bottom: 1px solid $border-1;
		}
	}

	td, th {
		padding: 10px;
	}

	td {
        &.avatar-cell {
            width: 44px;
            padding-right: 0px;

            img {
                width: 44px;
                height: 44px;
            }
        }
    }

	thead {
		background: $primary-color;
		color: $invert-font-color;
	}
}
