.admin-menu {
	flex: 0 0 200px;
	border-top: 2px solid $dark-border-1;
	background: $dark-background-1;
	padding: side-values(10px 20px 20px 20px);

	.admin-menu__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.admin-menu__section__title {
		font-size: 0.9em;
		font-weight: 400;
		margin: 10px 0 0 0;
		padding: 0;

		.admin-menu__section__title__link {
			color: $invert-font-color;
			text-transform: uppercase;
			display: block;
			color: #ccc;
			padding: 2px 0;
			border-bottom: 1px solid #666;

			&:hover {
				color: $secondary-color;
				text-decoration: none;
			}
		}
	}

	.admin-menu__section__list {
		display: none;
		font-size: 0.8em;
		padding: side-values(6px 0 0 0);
		margin: side-values(0 0 20px 0);
		list-style: none;

		.admin-menu__section__item__link {

			&:link, &:visited {
				display: block;
				border-radius: 3px;
				text-decoration: none;
				padding: 1px 8px;
				margin: 2px 0;
				color: $invert-font-color;

				&:before {
					color: #aaa;
				}
			}

			&:hover, &:active {
				background: $secondary-color;
				color: $invert-font-color;
				text-decoration: none;

				&:before {
					color: $invert-font-color;
				}
			}
		}

		.admin-menu__section__item--active {

			.admin-menu__section__item__link {
				background: $primary-color;
				color: $invert-font-color;

				&:before {
					color: $invert-font-color;
				}
			}
		}
	}

	.admin-menu__section--active {

		.admin-menu__section__list {
			display: block;
		}

		.admin-menu__section__title i {
			color: $primary-color;
		}
	}
}


.page-body {
	padding: 0 30px;
}

@media only screen and (min-width: 768px) {

	.sidebar-menu {
		margin-#{$left}: 0;
	}

	.page-body {
		margin-#{$left}: 230px;
	}

}
