{% extends "layouts.admin" %}
{% block title %} {# todo add title #} {% endblock %}
{% block contents %}
    <div class="admin-body__header">
        <h1 class="admin-body__header__title"> {{ trans('admin::forums.management') }} </h1>
        <div class="admin-body__header__buttons"><a href="{{ url_route('admin.forums.add') }}" class="button icon fa-plus">{{ trans(('admin::forums.add_forum')) }}</a></div>
    </div>
    <div class="admin-body__content">
        {{ list_all_forums(forums) }}
    </div>
{% endblock %}
