.forum-list {

    .forum {
        @include clearfix();
        padding: 12px;
        border-bottom: 1px solid $border-2;
        line-height: 1.4;

        .forum__title {
            margin: side-values(0 0 4px 0);
            font-size: 1em;
        }

        .forum__description {
            font-size: 0.8em;
            margin: 0;
            padding: side-values(2px 0 4px 0);
            color: $alt-font-color-4;
        }

        .forum__subforums {
            list-style: none;
            margin: side-values(2px 0 4px 20px);
            padding: 0;
            font-size: 0.8em;

            .forum__subforums__subforum {
                display: inline-block;
                margin: side-values(0 12px 4px 0);
            }

            .fa-level-up {
                margin: side-values(1px 0 0 -16px);
                color: $alt-font-color-2;
                float: $left;
                font-size: 14px;
                @include transform(rotate(90deg));
            }
        }

        .forum__topic {
            margin-top: 6px;
            padding: side-values(10px 0 0 2px);
            border-top: 1px dotted $border-1;

            .avatar-profile-link {
                width: 24px;
                height: 24px;
                margin: side-values(-3px 12px 0 0);

                .avatar {
                    width: 24px;
                    height: 24px;
                }
            }

            .forum__topic__title {
                display: inline-block;
                margin: side-values(0 8px 0 0);
                padding: 0;
                font-weight: normal;
            }

            .forum__topic__post {
                display: inline-block;
                font-size: 0.8em;
                color: $alt-font-color-2;
                margin: 0;

                a {
                    color: $alt-font-color-1;
                }
            }
        }

        &.highlight {
            background-color: $status-highlight;
            border-color: $status-highlight-border;
        }
    }
}

.forum-list--compact {

    .category {
        border-bottom: 1px solid $border-1;
        padding: 8px 12px;

        .category__title {
            margin: 0;
            font-size: 1em;
        }

        .category__forums {
            list-style: none;
            margin: 0;
            padding: side-values(0 0 0 15px);
            font-size: 0.9em;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

.block--container {
    
    .forum-list {

        padding: 0 6px;

        .forum:last-child {
            border-bottom: 0;
        }
    }
}


@media only screen and (min-width: 768px) {

    .forum-list--full-width {

        .forum {

            .forum__info {
                float: $left;
                width: 60%;
            }

            .forum__topic {
                float: $right;
                width: 35%;
                border: none;
                margin: 0;
                padding: 4px 0;

                .forum__topic__title {
                    display: block;
                    font-size: 0.9em;
                }

                .avatar-profile-link {
                    float: $left;
                    width: 36px;
                    height: 36px;
                    margin: side-values(3px 12px 0 0);

                    .avatar {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
    }
}