input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="password"] {
    border: 1px solid $border-2;
    padding: 6px;
    width: 100%;
    font-size: 0.9em;
    outline: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    border: 1px solid $border-2;
    padding: 4px;
    font-size: 0.9em;
    outline: none;
    max-width: 100%;
    border-radius: 4px;
    box-sizing: border-box;

    &[multiple="multiple"] {
        width: 100%;
        height: 200px;
    }
}

input {
    
    &.short {
        width: 50px;
        font: 12px $font-stack;
    }

    &.small {
        width: 50px;
        margin-#{$left}: 6px;
        margin-#{$right}: 6px;
    }
}

textarea {
    border: 1px solid $border-2;
    padding: 6px;
    width: 100%;
    font-size: 0.9em;
    outline: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.segmented-control {
    margin: side-values(5px 0 0 0);
    border: 1px solid $border-2;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 4px;

    .segmented-control__option {
        display: inline-block;
        float: $left;
    }

    .segmented-control__option__button {
        display: block;
        padding: 3px 8px;
        margin: 0;
        border-#{$left}: 1px solid $border-2;
        border-#{$right}: 1px solid transparent;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    :first-child .segmented-control__option__button {
        border-#{$left}: 1px solid transparent;
        border-radius: corner-values(4px 0 0 4px);
    }

    :last-child .segmented-control__option__button {
        border-radius: corner-values(0 4px 4px 0);
    }

    .segmented-control__option__input {
        position: absolute;
        visibility: hidden;
    }

    .segmented-control__option__input:checked + .segmented-control__option__button {
        background: $primary-color;
        color: $invert-font-color;
        margin: -1px;
        border: 1px solid $primary-color;
        z-index: 15;
    }
}

.select-control {
    font-size: 0.8em;

    .select-control__option {
        display: block;
        margin: side-values(0 0 5px 0);
        padding: 0;
    }

    .select-control__option__button {
        display: block;
        padding: 3px 8px;
        margin: side-values(5px 10px 0 0);
        background: $background-1;
        cursor: pointer;
        border-radius: 4px;

        &.icon:before {
            @include black-transparency(0.4);
        }
    }

    .select-control__option__input {
        position: absolute;
        visibility: hidden;
    }

    .select-control__option__input:checked + .select-control__option__button {
        background: $background-4;

        &.icon:before {
            @include black-transparency(0.6);
        }
    }
}