/*!
*   MyBB 2.0 - https://mybb.com - @mybb - MIT license
*/

@mixin bp-large {
    @media only screen and (min-width: $bp-large) {
        @content;
    }
}

@mixin bp-large-max {
    @media only screen and (max-width: $bp-large) {
        @content;
    }
}

@mixin bp-medium {
    @media only screen and (min-width: $bp-medium) {
        @content;
    }
}

@mixin bp-medium-max {
    @media only screen and (max-width: $bp-medium - 1) {
        @content;
    }
}

@mixin bp-small {
    @media only screen and (min-width: $bp-small - 1) {
        @content;
    }
}

@mixin bp-small-max {
    @media only screen and (max-width: $bp-small - 1) {
        @content;
    }
}

@mixin black-transparency($transparency) {
    color: rgba(0,0,0,$transparency);
}

@mixin white-transparency($transparency) {
    color: rgba(255,255,255,$transparency);
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin avatar($size) {
    width: #{$size}px;
    height: #{$size}px;

    .avatar {
        width: #{$size}px;
        height: #{$size}px;
    }
}
