html, button, input, select, textarea {
	color: $font-color;
	word-wrap: break-word;
}

::selection {
	background: $secondary-color;
	color: $invert-font-color;
	text-shadow: none;
}

body {
	margin: 0;
	font: 16px/26px $font-stack;
	background: $background-default;
}

.wrapper {
	@include clearfix();
	width: 90%;
	margin: 0 5%;

	@include bp-large {
		max-width: 1250px;
        margin: 0 auto;
	}
}

input, select, textarea, button {
	font: 16px $font-stack;
}

a:link,
a:visited {
	color: $primary-color;
	text-decoration: none;
}

a:hover,
a:active {
	color: $secondary-color;
	text-decoration: underline;
}

a:focus,
button:focus {
	outline: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

img.avatar {
	@include border-radius(4px);
}

.main {
	padding: side-values(20px 0 30px 0);

	@include bp-medium {

		.page-content--sidebar {
			float: $left;
			width: 62%;
		}

		.page-content--centered {
			width: 60%;
			float: none;
			margin: auto auto;
		}

		.page-content--menu {
			float: $left;
			width: 78%;
		}

		aside {
			float: $right;
			width: 35%;
			margin-top: 0;
		}
	}

	header {
		margin-bottom: 20px;

		h1 {
			font-size: 2em;
			font-weight: normal;
			margin: side-values(0 0 20px 0);
			padding: 0;
		}

		p {
			color: $alt-font-color-1;
			font-size: 0.9em;
			margin: side-values(0 0 10px 0);
		}

	}

	.page-content--menu {

		header {

			h1 {
				font-size: 1.8em;
				
			}
		}
	}

	aside {
		padding-bottom: 10px;
		font-size: 0.9em;
		margin-top: 30px;

		section {
			border: 1px solid $border-1;
			padding: 12px 15px;
			margin-bottom: 30px;
			@include border-radius(4px);
		}
	}

	.page-buttons {
		margin: side-values(-10px -5px 15px -5px);
		text-align: center;

		@include bp-medium {
			float: $right;
			margin: side-values(-45px -5px 8px 0);
		}
	}

	.pagination {
		list-style: none;
		margin: side-values(0 0 25px -5px);
		padding: 0;
		font-size: 0.9em;
		text-align: center;

		@include bp-medium {
			text-align: $right;
			margin: side-values(0 -5px 25px -5px);
		}
		
		li {
			display: inline-block;
			margin: 0 5px;

			a {
				background: $background-1;
				padding: 1px 8px;
				display: inline-block;
				@include border-radius(4px);

				&:hover {
					background: $secondary-color;
					color: $invert-font-color;
					text-decoration: none;
				}
			}

			&.active {
				padding: 1px 8px;
				background: $primary-color;
				color: $invert-font-color;
				@include border-radius(4px);
			}

			&.disabled {
				display: none;
			}
		}		
	}

	.page-controls {

		@include bp-medium {
			@include clearfix();
			margin-top: -20px;

			.page-buttons {
				margin-top: 0;
			}

			.pagination {
				float: $left;
				text-align: $left;
				margin: side-values(10px -5px 0 -5px);
			}

			.pagination + .page-buttons {
				margin-top: 0;
			}
		}
	}

	header + .page-controls {
		@include bp-medium {
			margin-top: -20px;

			.page-buttons {
				margin-top: -30px;
			}
		}
	}
}