.topic-list {

    .topic-list__sort-topics,
    .topic {
        display: flex;
        
        .column {
            box-sizing: border-box;
            padding-#{$left}: 5px;
            padding-#{$right}: 5px;
        }

        .primary-column {
            @extend .column;

            &.sort-column {
                width: 50%;
                padding-#{$left}: 18px;    
            }

            @include bp-medium {

                &, &.sort-column {
                    width: 52%;
                }
            }

            @include bp-large {

                &, &.sort-column {
                    width: 58%;
                }
            }

            .primary-column__topic-title {
                @extend .column;
                width: 100%;

                @include bp-medium {
                    width: 50%;
                }
            }

            .primary-column__start-date {
                @extend .column;
                display: none;

                @include bp-medium {
                    display: block;
                    width: 50%;
                }
            }
        }

        .replies-column {
            @extend .column;
            display: none;

            @include bp-medium {
                display: block;
                width: 12%;
            }
        }

        .latest-column {
            @extend .column;

            &.sort-column {
                width: 45%;
            }

            @include bp-medium {

                &, &.sort-column {
                    width: 33%;
                }
            }

            @include bp-large {

                &, &.sort-column {
                    width: 27%;
                }
            }
        }

        .moderation-column {
            @extend .column;
            text-align: center;

            @include bp-medium-max {

                &.topic__moderation {
                    float: $right;
                    position: absolute;
                    top: 10px;
                    #{$right}: 0;
                }
            }
        }
    }

    .topic-list__sort-topics {
        @include clearfix();
        margin-bottom: 0;
        background: $primary-color;
        padding: 5px 0;
        border: 0;
        color: $invert-font-color;
        font-size: 0.9em;
        border-radius: corner-values(4px 4px 0 0);
        align-items: center;

        .topic-list__sort-topics__link {
            float: $left;
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: 0.9em;
            box-sizing: border-box;
            border-radius: 3px;

            &:link, &:visited {
                color: $invert-font-color;
            }

            &:hover, &:active {
                background: $secondary-color;
                text-decoration: none;
            }
        }

        i {
            font-size: 14px;
            margin-#{$left}: 4px;
            @include white-transparency(0.7);
        }

        .primary-column {

            .primary-column__start-date {
                text-align: $right;
            }
        }

        .replies-column {
            text-align: center;
        }

        .latest-column {
            text-align: $right;

            @include bp-medium {
                text-align: $left;
            }
        }
    }

    .topic-list__container {
        border-#{$left}: 1px solid $border-2;
        border-#{$right}: 1px solid $border-2;
    }

    .topic-list__important-topics {
        border-bottom: 2px solid $border-1;
    }

    .topic {
        flex-direction: column;

        @include clearfix();
        padding: 10px 0;
        border-bottom: 1px solid $border-1;
        line-height: 1.4;
        position: relative;

        @include bp-medium {
            padding: 10px 0;
            flex-direction: row;
            align-items: center;
        }

        .primary-column {
            padding-#{$left}: 70px;

            @include bp-medium {
                padding-#{$left}: 18px;
            }
        }

        .topic__title {
            margin: 0;
            padding: 0;
            font-size: 1em;
            font-weight: normal;

            &.topic__title--unread {
                font-weight: bold;
            }

            &.topic__title--moved {
                color: $alt-font-color-2;
            }
        }

        .topic__icons {
            float: $right;
            color: $alt-font-color-1;
            font-size: 14px;
            margin-#{$left}: 16px;

            i {
                margin-#{$left}: 8px;

                &.fa-thumb-tack {
                    color: $primary-color;
                }
            }
        }

        .topic__first-post__title,
        .topic__replies__title,
        .topic__latest-post__title {
            @include visually-hidden;
        }

        .topic__post {
            font-size: 0.8em;
            color: $alt-font-color-2;
            margin: 0;
            padding: 0;
            display: inline-block;

            .post__author .profile-link {
                color: $alt-font-color-1;

                &:after {
                    content: ",";
                }
            }

            a.post__date {
                color: $alt-font-color-2;
            }
        }

        .topic__post--first {
            display: none;

            @include bp-medium {
                display: block;
            }
        }

        .topic__latest-post {
            padding-#{$left}: 70px;

            @include bp-medium {
                padding-#{$left}: 5px;
            }
        }

        .topic__post--latest {
            font-size: 0.8em;
            color: $alt-font-color-2;
            margin: 0;

            @include bp-medium {
                display: inline-block;

                .post__author {
                    display: block;
                    font-size: 1.2em;

                    .profile-link:after {
                        content: "";
                    }
                }
            }
        }

        .topic__replies {
            text-align: center;
            color: $alt-font-color-1;

            .topic__replies__count {
                padding: 0;
                margin: 0;
            }
        }

        .topic__forum {
            font-size: 0.8em;
            color: $alt-font-color-2;
            margin: 0;
            display: none;

            a {
                color: $alt-font-color-2;
            }

            @include bp-small {
                display: inline-block;
            }
        }

        .avatar-profile-link {
            float: $left;
            position: absolute;
            top: 10px;
            #{$left}: 16px;
            @include avatar(44);

            @include bp-medium {
                position: static;
                top: 0;
                #{$left}: 0;
                margin: side-values(0 6px 0 0);
                display: inline-block;    
            }
        }

        &.topic--highlight {
            background-color: $status-highlight;
            border-color: $status-highlight-border;
        }

        &.topic--soft-deleted {
            background-color: $status-deleted;
            border-color: $status-deleted-border;
        }

        &.topic--pending-approval {
            background-color: $status-pending;
            border-color: $status-pending-border;
        }
    }

    &.topic-list--compact {

        .topic {
            padding-#{$left}: 70px;

            .topic__post--latest {

                a, a.post__date {
                    color: $alt-font-color-1;
                }

                .post__author {
                    display: inline;
                    font-size: 1em;

                    &:after {
                        content: "";
                    }
                }
            }

            .avatar-profile-link {
                float: $left;
                position: absolute;
                top: 10px;
                #{$left}: 12px;
            }

            .topic__replies {
                font-size: 0.8em;
                color: $alt-font-color-2;
                display: none;
                margin: side-values(0 0 0 10px);
                padding: 0;

                i {
                    @include black-transparency(0.3);
                    margin-#{$right}: 4px;
                }

                .text {
                    display: none;
                }

                @include bp-small {
                    display: inline-block;
                }
            }
        }

    }
}