/*!
*   MyBB 2.0 - http://mybb.com - @mybb - MIT license
*/
html, button, input, select, textarea {
  color: #222;
  word-wrap: break-word; }

::-moz-selection {
  background: #ff7500;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #ff7500;
  color: #fff;
  text-shadow: none; }

body {
  margin: 0;
  font: 16px/26px Open Sans, Helvetica Neue, Helvetica, Arial;
  background: #fff; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

input, select, textarea, button {
  font: 16px Open Sans, Helvetica Neue, Helvetica, Arial; }

a:link,
a:visited {
  color: #007fd0;
  text-decoration: none; }

a:hover,
a:active {
  color: #ff7500;
  text-decoration: underline; }

a:focus,
button:focus {
  outline: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.main {
  padding: 15px 0 30px 0; }
  .main header {
    margin-bottom: 20px; }
    .main header h1 {
      font-size: 1.5em;
      margin: 0 0 10px 0;
      padding: 0; }
    .main header p {
      color: #666;
      font-size: 0.9em;
      margin: 0 0 10px 0; }
  .main .page-content--menu header h1 {
    font-size: 1.2em;
    margin-bottom: 0; }
  .main aside {
    padding-bottom: 10px;
    font-size: 0.9em;
    margin-top: 30px; }
    .main aside section {
      border: 1px solid #dfdfdf;
      padding: 12px 15px;
      margin-bottom: 30px;
      border-radius: 4px; }
  .main .page-buttons {
    margin: -10px -5px 15px -5px;
    text-align: center; }
  .main .pagination {
    list-style: none;
    margin: 0 0 25px -5px;
    padding: 0;
    font-size: 0.9em;
    text-align: center; }
    .main .pagination li {
      display: inline-block;
      margin: 0 5px; }
      .main .pagination li a {
        background: #fafafa;
        padding: 1px 8px;
        display: inline-block;
        border-radius: 4px; }
        .main .pagination li a:hover {
          background: #ff7500;
          color: #fff;
          text-decoration: none; }
      .main .pagination li.active {
        padding: 1px 8px;
        background: #007fd0;
        color: #fff;
        border-radius: 4px; }
      .main .pagination li.disabled {
        display: none; }

section {
  margin-bottom: 30px; }
  section h2 {
    font-size: 1.2em; }
  section .heading {
    border-bottom: 1px solid #dfdfdf;
    padding: 8px;
    margin: 0 0 5px 0; }
  section .heading--linked {
    border-bottom: 0;
    padding: 0; }
    section .heading--linked a {
      padding: 8px 12px;
      border-bottom: 1px solid #dfdfdf;
      text-decoration: none;
      display: block; }
      section .heading--linked a .count {
        float: right;
        font-size: 0.8em;
        color: #666;
        font-weight: normal; }
        section .heading--linked a .count i {
          margin-left: 4px; }
  section .heading--major {
    background: #007fd0;
    color: #fff;
    border: 0;
    padding: 8px 12px;
    margin-bottom: 0;
    border-radius: 4px; }
  section .heading--major.heading--linked {
    padding: 0; }
    section .heading--major.heading--linked a {
      border: none;
      color: #fff;
      text-decoration: none; }
      section .heading--major.heading--linked a .count {
        color: rgba(255, 255, 255, 0.7); }
    section .heading--major.heading--linked a:hover,
    section .heading--major.heading--linked a:active {
      text-decoration: underline; }
      section .heading--major.heading--linked a:hover .count,
      section .heading--major.heading--linked a:active .count {
        color: #fff; }
  section .page-tabs {
    list-style: none;
    margin: 0;
    background: #fafafa;
    padding: 8px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf; }
    section .page-tabs li {
      display: inline-block;
      margin: 0 8px 0 0; }
      section .page-tabs li a {
        padding: 4px 8px;
        display: inline-block;
        background: #fafafa;
        border-radius: 3px; }
      section .page-tabs li a:hover {
        text-decoration: none;
        background: #ff7500;
        color: #fff; }
      section .page-tabs li.page-tabs__active a, section .page-tabs li.page-tabs__active a:hover {
        color: #fff;
        font-weight: bold;
        background: #007fd0;
        text-decoration: none; }
  section .sort-results {
    text-align: center;
    border: 1px solid #ccc;
    border-top: 2px solid #dfdfdf;
    padding: 6px 0;
    clear: both;
    border-radius: 0 0 4px 4px; }
    section .sort-results h3 {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0;
      font-weight: normal;
      color: #666;
      font-size: 0.9em; }
      section .sort-results h3:after {
        content: ":"; }
  section.container {
    border: 1px solid #dfdfdf;
    border-radius: 4px; }
    section.container .sort-results {
      border-width: 0;
      border-top-width: 2px; }
  section:last-child {
    margin-bottom: 0; }

nav.section-menu ul {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none; }
  nav.section-menu ul li {
    float: left;
    width: 48%;
    margin-bottom: 4px; }
    nav.section-menu ul li:nth-child(odd) {
      margin-right: 2%; }
    nav.section-menu ul li:nth-child(even) {
      margin-left: 2%; }
    nav.section-menu ul li a {
      background: #fafafa;
      display: block;
      padding: 2px 8px;
      text-decoration: none;
      border-radius: 3px; }
      nav.section-menu ul li a:hover {
        background-color: #ff7500;
        border-color: #ff7500;
        color: #fff; }
      nav.section-menu ul li a i {
        padding-right: 5px; }
    nav.section-menu ul li.active a {
      background-color: #007fd0;
      border-color: #007fd0;
      color: #fff; }

img.avatar {
  border-radius: 4px; }

.button, a.button {
  color: #fff;
  background: #007fd0;
  border: 1px solid #007fd0;
  padding: 4px 10px;
  margin: 5px;
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  line-height: 26px;
  border-radius: 4px; }
  .button:hover, a.button:hover {
    background: #ff7500;
    border-color: #ff7500; }
  .button.button--secondary, a.button.button--secondary {
    border: 1px solid #dfdfdf;
    background: #fff;
    color: #007fd0; }
    .button.button--secondary:hover, a.button.button--secondary:hover {
      color: #ff7500; }
    .button.button--secondary.button--danger, a.button.button--secondary.button--danger {
      background: none;
      color: #eb5257; }
      .button.button--secondary.button--danger:hover, a.button.button--secondary.button--danger:hover {
        background: none;
        border-color: #eb5257;
        color: #ff7500; }
  .button.button--danger, a.button.button--danger {
    border-color: #eb5257;
    color: #fff;
    background: #eb5257; }
    .button.button--danger:hover, a.button.button--danger:hover {
      background: #ff7500;
      border-color: #ff7500;
      color: #fff; }
  .button i, a.button i {
    margin-right: 5px;
    font-size: 14px; }
  .button:hover, .button:active, a.button:hover, a.button:active {
    outline: none; }

dl.stats {
  line-height: 1.6;
  margin: 0;
  font-size: 0.9em;
  display: table-cell; }
  dl.stats dt {
    float: left;
    margin: 0 8px 0 0;
    color: #999; }
    dl.stats dt:after {
      content: ":"; }
  dl.stats dd {
    padding: 0;
    margin: 0;
    display: table-cell; }

.alert {
  background-color: #fafafa;
  padding: 10px 12px 10px 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.9em;
  border-radius: 4px; }
  .alert i {
    float: left;
    margin: 6px 0 0 -25px; }
  .alert p {
    margin: 0;
    padding: 0; }
  .alert.alert--danger {
    background-color: #eb5257;
    color: #fff; }
  .alert.alert--success {
    background-color: #018303;
    color: #fff; }

.error-no-results {
  text-align: center;
  padding: 30px 0;
  font-size: 1.2em;
  color: #666; }

@media only screen and (min-width: 768px) {
  .main .page-content--sidebar {
    float: left;
    width: 62%; }
  .main .page-content--centered {
    width: 60%;
    float: none;
    margin: auto auto; }
  .main .page-content--menu {
    float: left;
    width: 78%; }
  .main aside {
    float: right;
    width: 35%;
    margin-top: 0; }
  .main .page-buttons {
    float: right;
    margin: -45px -5px 8px 0; }
  .main .pagination {
    text-align: right;
    margin: 0 -5px 25px -5px; }
  .main .page-controls {
    margin-top: -20px; }
    .main .page-controls .page-buttons {
      margin-top: 0; }
    .main .page-controls .pagination {
      float: left;
      text-align: left;
      margin: 10px -5px 0 -5px; }
    .main .page-controls .pagination + .page-buttons {
      margin-top: 0; }
  .main header + .page-controls {
    margin-top: -20px; }
    .main header + .page-controls .page-buttons {
      margin-top: -30px; }
  nav.section-menu {
    float: left;
    width: 19%;
    margin-right: 3%; }
    nav.section-menu ul {
      margin: 0; }
      nav.section-menu ul li, nav.section-menu ul li:nth-child(odd), nav.section-menu ul li:nth-child(even) {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }

@media only screen and (min-width: 1140px) {
  .wrapper {
    max-width: 1250px;
    margin: 0 auto; } }

input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="password"] {
  border: 1px solid #ccc;
  padding: 6px;
  width: 100%;
  font-size: 0.9em;
  outline: 0;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

select {
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 0.9em;
  outline: none;
  max-width: 100%;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

select[multiple="multiple"] {
  width: 100%;
  height: 200px; }

input.short {
  width: 50px;
  font: 12px Open Sans, Helvetica Neue, Helvetica, Arial; }

input.small {
  width: 50px;
  margin-left: 6px;
  margin-right: 6px; }

textarea {
  border: 1px solid #ccc;
  padding: 6px;
  width: 100%;
  font-size: 0.9em;
  outline: 0;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

section.form {
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  border-radius: 4px; }
  section.form .heading--major {
    margin: -1px;
    border-radius: 4px 4px 0 0; }
  section.form .form__section {
    padding: 16px 12px;
    border-bottom: 2px solid #dfdfdf; }
    section.form .form__section h2 {
      margin: 0 0 12px 0;
      padding: 0 8px 8px 8px;
      color: #007fd0;
      font-size: 1.1em;
      border-bottom: 1px dotted #ccc; }
    section.form .form__section:last-child {
      border-bottom: 0; }
  section.form .form__row {
    border-bottom: 1px solid #dfdfdf;
    padding: 12px 8px; }
    section.form .form__row h3 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 1em; }
    section.form .form__row h4 {
      font-size: 0.9em;
      font-weight: normal;
      text-transform: uppercase;
      color: #007fd0;
      margin: 0; }
    section.form .form__row:first-child {
      padding-top: 0; }
    section.form .form__row:last-child {
      border-bottom: 0;
      padding-bottom: 6px; }
  section.form p.form__checkbox {
    font-size: 0.9em;
    margin: 5px 0;
    padding: 0 0 0 30px; }
    section.form p.form__checkbox input[type="checkbox"] {
      float: left;
      margin: 6px 0 0 -26px; }
    section.form p.form__checkbox i {
      color: #999;
      padding-right: 5px;
      width: 16px;
      font-size: 14px;
      text-align: center;
      display: inline-block; }
    section.form p.form__checkbox:last-child {
      margin-bottom: 0; }
  section.form p.form__description, section.form .form__radio p.form__radio__description {
    font-size: 0.8em;
    line-height: 1.4;
    color: #666;
    margin: -4px 0 4px 0; }
  section.form .form__radio {
    padding: 0 0 0 30px;
    margin-bottom: 20px; }
    section.form .form__radio input[type="radio"] {
      float: left;
      margin: 6px 0 0 -26px; }
    section.form .form__radio:last-child {
      margin-bottom: 0; }
  section.form p.form__data {
    margin: 0;
    font-size: 0.9em; }
  section.form label {
    cursor: pointer; }
  section.form .topic-title {
    font-size: 1.3em; }
  section.form .buttons {
    margin: -5px; }

.form__submit {
  text-align: center;
  padding: 10px 0; }
  .form__submit .button {
    font-size: 1em;
    padding: 6px 12px; }
    .form__submit .button i {
      font-size: 18px;
      margin-right: 8px; }

.segmented-control {
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 4px; }
  .segmented-control .segmented-control__block {
    display: inline-block; }
  .segmented-control .segmented-control__button {
    display: block;
    padding: 3px 8px;
    margin: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid transparent;
    position: relative;
    z-index: 10;
    cursor: pointer; }
    .segmented-control .segmented-control__button i {
      margin: 0 6px 0 0;
      float: none; }
  .segmented-control :first-child .segmented-control__button {
    border-left: 1px solid transparent;
    border-radius: 4px 0 0 4px; }
  .segmented-control :last-child .segmented-control__button {
    border-radius: 0 4px 4px 0; }
  .segmented-control input {
    position: absolute;
    visibility: hidden; }
  .segmented-control input:checked + .segmented-control__button {
    background: #007fd0;
    color: #fff;
    margin: -1px;
    border: 1px solid #007fd0;
    z-index: 15; }
    .segmented-control input:checked + .segmented-control__button i {
      color: #fff; }

.select-control {
  font-size: 0.8em; }
  .select-control .select-control__block {
    display: block;
    margin: 0 0 5px 0;
    padding: 0; }
  .select-control .select-control__button {
    display: block;
    padding: 3px 8px;
    margin: 5px 10px 0 0;
    background: #fafafa;
    cursor: pointer;
    border-radius: 4px; }
    .select-control .select-control__button i {
      color: rgba(0, 0, 0, 0.4);
      margin: 0 4px 0 0; }
  .select-control input {
    position: absolute;
    visibility: hidden; }
  .select-control input:checked + .select-control__button {
    background: #ccc; }
    .select-control input:checked + .select-control__button i {
      color: rgba(0, 0, 0, 0.6); }

@media only screen and (min-width: 768px) {
  section.form .form__section {
    padding: 20px 12px; }
    section.form .form__section h2 {
      border: 0;
      float: left;
      margin: 0;
      padding: 0;
      width: 20%;
      text-align: right; }
  section.form .form__section__container {
    float: left;
    margin: 0 0 0 3%;
    padding: 0 0 0 20px;
    border-left: 1px dotted #ccc;
    width: 74%;
    -ms-box-sizing: border-box;
    box-sizing: border-box; } }

.modal {
  display: none;
  width: 580px;
  padding: 0;
  border: 8px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px; }
  .modal .page-content {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 100%;
    float: none; }
    .modal .page-content header {
      background: #007fd0;
      border-bottom: 2px solid #0a539b; }
      .modal .page-content header h1 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 1.2em;
        padding: 16px; }
      .modal .page-content header .page-controls {
        margin: -50px 8px 0 0; }
      .modal .page-content header .button,
      .modal .page-content header .button.secondary {
        color: #fff;
        background: #007fd0;
        border-color: rgba(255, 255, 255, 0.3); }
        .modal .page-content header .button:hover,
        .modal .page-content header .button.secondary:hover {
          background: #ff7500;
          border-color: #ff7500; }
    .modal .page-content.page-content--menu header {
      margin: 0; }
  .modal section.form {
    border: none;
    margin: 0;
    overflow: auto; }
    .modal section.form h2 {
      margin: 0 0 12px 0;
      padding: 0 8px 8px 8px;
      color: #007fd0;
      font-size: 1.1em;
      border-bottom: 1px dotted #ccc;
      text-align: left;
      float: none;
      width: auto; }
    .modal section.form .form__section__container {
      float: none;
      margin: 0;
      padding: 0;
      border: none;
      width: auto; }
    .modal section.form .form_section:last-child {
      padding-bottom: 0; }
  .modal .form__submit {
    margin: 0;
    padding: 6px 0;
    background: #f2f2f2;
    border-top: 1px solid #dfdfdf; }
  .modal .section-menu {
    display: none; }
  .modal a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    width: 26px;
    height: 26px;
    display: block;
    border: 2px solid #fff;
    padding: 2px;
    color: #fff;
    background: #333;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 4px #000;
    line-height: 1;
    border-radius: 15px;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px/1;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .modal a.close-modal:before {
      content: "\f00d"; }
    .modal a.close-modal:hover {
      background: #bb0000; }
    .modal a.close-modal span {
      display: none; }

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url("../images/spinner.gif") #111 no-repeat center center;
  border-radius: 8px; }

@media screen and (max-width: 758px) {
  .modal {
    width: 450px; } }

@media screen and (max-width: 524px) {
  .modal {
    width: 290px; } }

@media screen and (max-height: 758px) {
  .modal .page-content section.form {
    max-height: 400px;
    overflow: auto; } }

@media screen and (max-height: 524px) {
  .modal .page-content section.form {
    max-height: 300px;
    overflow: auto; } }

@media screen and (max-height: 458px) {
  .modal .page-content section.form {
    max-height: 150px;
    overflow: auto; } }

.jcrop-line, .jcrop-vline, .jcrop-hline {
  background: #ffffff url("../images/Jcrop.gif");
  font-size: 0;
  position: absolute; }

.jcrop-holder {
  direction: ltr;
  text-align: left; }
  .jcrop-holder img {
    max-width: none; }

.jcrop-vline {
  height: 100%;
  width: 1px !important; }
  .jcrop-vline.right {
    right: 0; }

.jcrop-hline {
  height: 1px !important;
  width: 100%; }
  .jcrop-hline.bottom {
    bottom: 0; }

.jcrop-tracker {
  height: 100%;
  width: 100%; }

.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px; }
  .jcrop-handle.ord-n {
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    top: 0; }
  .jcrop-handle.ord-s {
    bottom: 0;
    left: 50%;
    margin-bottom: -4px;
    margin-left: -4px; }
  .jcrop-handle.ord-e {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 50%; }
  .jcrop-handle.ord-w {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 50%; }
  .jcrop-handle.ord-nw {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 0; }
  .jcrop-handle.ord-ne {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 0; }
  .jcrop-handle.ord-se {
    bottom: 0;
    margin-bottom: -4px;
    margin-right: -4px;
    right: 0; }
  .jcrop-handle.ord-sw {
    bottom: 0;
    left: 0;
    margin-bottom: -4px;
    margin-left: -4px; }

.jcrop-dragbar.ord-n {
  height: 7px;
  width: 100%;
  margin-top: -4px; }

.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
  bottom: 0;
  margin-bottom: -4px; }

.jcrop-dragbar.ord-e {
  height: 100%;
  width: 7px;
  margin-right: -4px;
  right: 0; }

.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
  margin-left: -4px; }

.jcrop-light .jcrop-vline, .jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: .70 !important; }

.jcrop-light .jcrop-handle {
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px; }

.jcrop-dark .jcrop-vline, .jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important; }

.jcrop-dark .jcrop-handle {
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px; }

.solid-line .jcrop-vline, .solid-line .jcrop-hline {
  background: #ffffff; }

img.jcrop-preview {
  max-width: none; }

.jcrop {
  max-width: 100%;
  height: 300px;
  max-height: 300px;
  overflow: auto;
  text-align: center;
  vertical-align: middle; }

#spinner {
  background: #444;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  padding: 3px 15px;
  border-radius: 0 0 4px 0;
  font-size: 12px;
  display: none; }
  #spinner .fa {
    font-size: 16px;
    padding: 0 2px; }

/* PowerTip Plugin */
#powerTip {
  cursor: default;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: #fff;
  display: none;
  padding: 3px 9px;
  position: absolute;
  white-space: nowrap;
  z-index: 2147483647;
  font-size: 0.8em; }

#powerTip:before {
  content: "";
  position: absolute; }

#powerTip.n:before, #powerTip.s:before {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  left: 50%;
  margin-left: -5px; }

#powerTip.e:before, #powerTip.w:before {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-top: -5px;
  top: 50%; }

#powerTip.n:before {
  border-top: 5px solid #333;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  bottom: -5px; }

#powerTip.e:before {
  border-right: 5px solid #333;
  border-right: 5px solid rgba(0, 0, 0, 0.8);
  left: -5px; }

#powerTip.s:before {
  border-bottom: 5px solid #333;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  top: -5px; }

#powerTip.w:before {
  border-left: 5px solid #333;
  border-left: 5px solid rgba(0, 0, 0, 0.8);
  right: -5px; }

#powerTip.ne:before, #powerTip.se:before {
  border-right: 5px solid transparent;
  border-left: 0;
  left: 10px; }

#powerTip.nw:before, #powerTip.sw:before {
  border-left: 5px solid transparent;
  border-right: 0;
  right: 10px; }

#powerTip.ne:before, #powerTip.nw:before {
  border-top: 5px solid #333;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  bottom: -5px; }

#powerTip.se:before, #powerTip.sw:before {
  border-bottom: 5px solid #333;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  top: -5px; }

#powerTip.nw-alt:before, #powerTip.ne-alt:before,
#powerTip.sw-alt:before, #powerTip.se-alt:before {
  border-top: 5px solid #333;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  bottom: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  left: 10px; }

#powerTip.ne-alt:before {
  left: auto;
  right: 10px; }

#powerTip.sw-alt:before, #powerTip.se-alt:before {
  border-top: none;
  border-bottom: 5px solid #333;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  bottom: auto;
  top: -5px; }

#powerTip.se-alt:before {
  left: auto;
  right: 10px; }

/* 
 * Stepper v3.0.7 - 2014-05-07 
 * A jQuery plugin for cross browser number inputs. Part of the Formstone Library. 
 * http://formstone.it/stepper/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */
.stepper {
  border-radius: 3px;
  margin: 0 0 10px 0;
  overflow: hidden;
  position: relative;
  width: 130px;
  border: 1px solid #dfdfdf; }
  .stepper .stepper-input {
    background: #fff;
    border: 0;
    font-size: 0.9em;
    margin: 0;
    overflow: hidden;
    padding: 4px 10px;
    text-align: center;
    width: 100%;
    width: 60px;
    margin: 0 35px;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 49;
    -moz-appearance: textfield; }
  .stepper .stepper-input:focus {
    outline: 0; }
  .stepper .stepper-input::-webkit-inner-spin-button,
  .stepper .stepper-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .stepper .stepper-arrow {
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 0px 0;
    position: absolute;
    width: 35px;
    text-align: center;
    z-index: 50;
    color: #fff; }
    .stepper .stepper-arrow:before {
      font-size: 14px;
      margin: 0 10px 0 10px;
      font-family: "FontAwesome";
      color: #666; }
    .stepper .stepper-arrow:hover {
      color: #666; }
    .stepper .stepper-arrow:active {
      background: #007fd0; }
      .stepper .stepper-arrow:active:before {
        color: #fff; }
  .stepper .stepper-arrow.up {
    float: right;
    top: 0;
    right: 0;
    border-left: 1px solid #dfdfdf; }
    .stepper .stepper-arrow.up:before {
      content: "\f067"; }
  .stepper .stepper-arrow.down {
    float: left;
    top: 0;
    left: 0;
    border-right: 1px solid #dfdfdf; }
    .stepper .stepper-arrow.down:before {
      content: "\f068"; }
  .stepper.disabled .stepper-input {
    background: #fff;
    border-color: #dfdfdf;
    color: #ccc; }
  .stepper.disabled .stepper-arrow {
    background: #fff;
    border-color: #dfdfdf;
    cursor: default; }

/* hide/show password */
::-ms-reveal,
::-ms-clear {
  display: none !important; }

.hideShowPassword-toggle {
  background: transparent;
  border: 0;
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 2px;
  padding: 3px 8px;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .hideShowPassword-toggle:hover, .hideShowPassword-toggle:focus {
    background-color: #eee;
    color: #666;
    outline: transparent; }

/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* These styles assume you are using ul and li */
.dropit {
  list-style: none;
  padding: 0;
  margin: 0; }
  .dropit .dropit-trigger {
    position: relative; }
  .dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0; }
  .dropit .dropit-open .dropit-submenu {
    display: block; }

.admin-main-nav {
  width: 13%;
  float: left;
  margin-left: 15px; }
  .admin-main-nav .fa {
    color: #666; }
  .admin-main-nav > ul > li {
    background: #fff;
    margin: 5px;
    padding: 5px;
    width: 94%; }
  .admin-main-nav li {
    background: #fafafa;
    margin: 5px 5px 5px 23px;
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
    width: 81%; }
    .admin-main-nav li .active {
      background: #007fd0; }
      .admin-main-nav li .active a {
        color: #fff; }
  .admin-main-nav ul {
    list-style: none;
    text-indent: 0;
    padding: 0; }
    .admin-main-nav ul h3 {
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 2px;
      display: inline-block;
      width: 85%;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-top: 0; }

#admin-content h1 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
  font-size: 1.5em; }

.admin-table {
  width: 100%; }
  .admin-table.admin-table--bordered {
    border-radius: 5px;
    border-collapse: separate; }
    .admin-table.admin-table--bordered td {
      border-bottom: 1px solid #dfdfdf; }
  .admin-table td, .admin-table th {
    padding: 10px; }
  .admin-table thead {
    background: #007fd0;
    color: #fff; }

.header-bar {
  background: #eee;
  border-bottom: 1px solid #dfdfdf;
  padding: 15px 15px 5px 15px; }

.show-menu {
  float: left;
  margin: 0 20px 0 0; }
  .show-menu a.show-menu__link {
    color: #666;
    font-size: 21px; }
  .show-menu .text {
    display: none; }

.breadcrumb {
  font-size: 0.9em; }
  .breadcrumb .breadcrumb__logo {
    background: url("../images/admin_logo.png");
    background-repeat: no-repeat;
    background-position: middle left;
    padding: 4px 0 4px 32px;
    height: 30px;
    float: left; }
    .breadcrumb .breadcrumb__logo span {
      display: none; }
  .breadcrumb .breadcrumb__trail {
    display: none; }
  .breadcrumb i {
    margin: 0 8px;
    color: #999; }
  .breadcrumb h1 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: inline-block; }

.user-menu {
  float: right;
  font-size: 0.9em; }
  .user-menu i {
    color: #999;
    font-size: 14px;
    margin: 0 0 0 5px; }

@media only screen and (min-width: 768px) {
  .show-menu {
    display: none; }
  .breadcrumb .breadcrumb__logo {
    background: url("../images/admin_logo.png");
    background-repeat: no-repeat;
    background-position: middle left;
    padding: 4px 0 4px 40px; }
  .breadcrumb .breadcrumb__trail {
    display: inline-block;
    font-size: 1.15em;
    margin-top: 2px; }
  .breadcrumb i {
    margin: 0 8px;
    color: #999; }
  .breadcrumb h1 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: inline-block; } }

.sidebar-menu {
  margin-left: -225px;
  width: 175px;
  float: left;
  padding: 12px 20px 20px 45px; }
  .sidebar-menu .sidebar-menu__main {
    padding: 0;
    list-style: none; }
  .sidebar-menu .sidebar-menu__sub {
    font-size: 0.8em;
    padding: 6px 0 0 0;
    margin: 0 0 20px 0;
    list-style: none; }
    .sidebar-menu .sidebar-menu__sub a:link, .sidebar-menu .sidebar-menu__sub a:visited {
      display: block;
      background: #fafafa;
      border-radius: 3px;
      text-decoration: none;
      padding: 2px 8px;
      margin: 2px; }
    .sidebar-menu .sidebar-menu__sub a:hover, .sidebar-menu .sidebar-menu__sub a:active {
      background: #ff7500;
      color: #fff;
      text-decoration: none; }
    .sidebar-menu .sidebar-menu__sub .active a {
      background: #007fd0;
      color: #fff; }
  .sidebar-menu h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 10px 0 0 0;
    padding: 2px 0;
    border-bottom: 1px solid #ccc; }
    .sidebar-menu h3 a {
      color: #444;
      display: block; }
      .sidebar-menu h3 a:hover {
        color: #ff7500;
        text-decoration: none; }
    .sidebar-menu h3 i {
      float: left;
      margin: 6px 0 0 -22px;
      color: #999;
      font-size: 14px; }
  .sidebar-menu .sidebar-menu__active-section .sidebar-menu__sub {
    display: block; }
  .sidebar-menu .sidebar-menu__active-section h2 i {
    color: #007fd0; }

.page-body {
  padding: 0 30px; }

@media only screen and (min-width: 768px) {
  .sidebar-menu {
    margin-left: 0; }
  .page-body {
    margin-left: 230px; } }

.clearfix:before, .wrapper:before, nav.section-menu ul:before, section.form .form__section:before, .header-bar:before,
.clearfix:after,
.wrapper:after,
nav.section-menu ul:after,
section.form .form__section:after,
.header-bar:after {
  content: " ";
  display: table; }

.clearfix:after, .wrapper:after, nav.section-menu ul:after, section.form .form__section:after, .header-bar:after {
  clear: both; }

.clearfix, .wrapper, nav.section-menu ul, section.form .form__section, .header-bar {
  *zoom: 1; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*# sourceMappingURL=admin.css.map */
