{% extends "layouts.base" %}
{% block title %}{% endblock %}
{% block contents %}
<article>
	<header>
		<h1>MyBB Community</h1>
		<p>The official community for MyBB, the best free and open source forum software.</p>
	</header>
	<section>
		<h2 class="linked-header bold"><a href="index.php?page=new-posts">Latest Discussions <span class="count">42 <i class="fa fa-angle-right"></i></span></a></h2>
		<div class="topic-list">
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to spork985's profile"><img src="images/avatar.png" alt="spork985's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">My Forum - MYBB Rocks!</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 10:10 AM">20 minutes ago</a> by <a href="index.php?page=topic" class="post-author">spork985</a></p>
					<p class="forum">in <a href="index.php?page=forum">Showcase</a></p>
					<p class="topic-replies caption" title="4 replies &middot; 317 views"><i class="fa fa-comment"></i><span class="count">4</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to Leefish's profile"><img src="http://community.mybb.com/uploads/avatars/avatar_23276.jpg?dateline=1359080725" alt="Leefish's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title"><a href="index.php?page=topic">Tableless Responsive Theme for MyBB</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:55 AM">35 minutes ago</a> by <a href="index.php?page=topic" class="post-author">Leefish</a></p>
					<p class="forum">in <a href="index.php?page=forum">Web Development and Administration</a></p>
					<p class="topic-replies caption" title="43 replies &middot; 6,305 views"><i class="fa fa-comment"></i><span class="count">43</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to Clank's profile"><img src="images/avatar.png" alt="Clank's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">[AJAX] Inferno Shoutbox for MyBB</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:31 AM">59 minutes ago</a> by <a href="index.php?page=topic" class="post-author">Clank</a></p>
					<p class="forum">in <a href="index.php?page=forum">Plugin Releases</a></p>
					<p class="topic-replies caption" title="192 replies &middot; 11,930 views"><i class="fa fa-comment"></i><span class="count">192</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to .m.'s profile"><img src="http://community.mybb.com/uploads/avatars/avatar_52123.png?dateline=1369374411" alt=".m.'s avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">add a table bbcode</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:29 AM">Today, 9:29 AM</a> by <a href="index.php?page=topic" class="post-author">.m.</a></p>
					<p class="forum">in <a href="index.php?page=forum">General Support</a></p>
					<p class="topic-replies caption" title="20 replies &middot; 312 views"><i class="fa fa-comment"></i><span class="count">20</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to Ultip's profile"><img src="images/avatar.png" alt="Ultip's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title"><a href="index.php?page=topic">Mybb need ping plugin ??</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:12 AM">Today, 9:12 AM</a> by <a href="index.php?page=topic" class="post-author">Ultip</a></p>
					<p class="forum">in <a href="index.php?page=forum">Plugin Requests</a></p>
					<p class="topic-replies caption" title="1 reply &middot; 504 views"><i class="fa fa-comment"></i><span class="count">1</span><span class="text"> reply</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to effone's profile"><img src="http://community.mybb.com/uploads/avatars/avatar_61867.png?dateline=1337704228" alt="effone's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">add tabs to user profile</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 8, 2014 at 9:04 AM">Today, 9:04 AM</a> by <a href="index.php?page=topic" class="post-author">effone</a></p>
					<p class="forum">in <a href="index.php?page=forum">General Support</a></p>
					<p class="topic-replies caption" title="3 replies &middot; 239 views"><i class="fa fa-comment"></i><span class="count">3</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to admin13's profile"><img src="images/avatar.png" alt="admin13's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">Business Theme</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 8:56 AM">Today, 8:56 AM</a> by <a href="index.php?page=topic" class="post-author">admin13</a></p>
					<p class="forum">in <a href="index.php?page=forum">Theme Releases</a></p>
					<p class="topic-replies caption" title="7 replies &middot; 552 views"><i class="fa fa-comment"></i><span class="count">7</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to Robb's profile"><img src="images/avatar.png" alt="User's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">Integrating HTML into your post</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 8:45 AM">Today, 8:45 AM</a> by <a href="index.php?page=topic" class="post-author">Robb</a></p>
					<p class="forum">in <a href="index.php?page=forum">General Support</a></p>
					<p class="topic-replies caption" title="0 replies &middot; 533 views"><i class="fa fa-comment"></i><span class="count">0</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to MikeInToshx's profile"><img src="images/avatar.png" alt="MikeInToshx's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">If I moved to new server, and it doesn't work, is this the forum I ask for help in?</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 8:01 AM">Today, 8:01 AM</a> by <a href="index.php?page=topic" class="post-author">MikeInToshx</a></p>
					<p class="forum">in <a href="index.php?page=forum">General Support</a></p>
					<p class="topic-replies caption" title="2 replies &middot; 144 views"><i class="fa fa-comment"></i><span class="count">2</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to MikeInToshx's profile"><img src="images/avatar.png" alt="MikeInToshx's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">"Moderated by..."</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 8, 2014 at 9:04 AM">Today, 9:04 AM</a> by <a href="index.php?page=topic" class="post-author">MikeInToshX</a></p>
					<p class="forum">in <a href="index.php?page=forum">General Support</a></p>
					<p class="topic-replies caption" title="1 reply &middot; 108 views"><i class="fa fa-comment"></i><span class="count">1</span><span class="text"> reply</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to spork985's profile"><img src="images/avatar.png" alt="spork985's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title"><a href="index.php?page=topic">My Forum - MYBB Rocks!</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 10:10 AM">20 minutes ago</a> by <a href="index.php?page=topic" class="post-author">spork985</a></p>
					<p class="forum">in <a href="index.php?page=forum">Showcase</a></p>
					<p class="topic-replies caption" title="4 replies &middot; 317 views"><i class="fa fa-comment"></i><span class="count">4</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to Leefish's profile"><img src="http://community.mybb.com/uploads/avatars/avatar_23276.jpg?dateline=1359080725" alt="Leefish's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">Tableless Responsive Theme for MyBB</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:55 AM">35 minutes ago</a> by <a href="index.php?page=topic" class="post-author">Leefish</a></p>
					<p class="forum">in <a href="index.php?page=forum">Web Development and Administration</a></p>
					<p class="topic-replies caption" title="43 replies &middot; 6,305 views"><i class="fa fa-comment"></i><span class="count">43</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to Clank's profile"><img src="images/avatar.png" alt="Clank's avatar" class="avatar" /></a>
				<h3 class="topic-title unread"><a href="index.php?page=topic">[AJAX] Inferno Shoutbox for MyBB</a></h3>
				<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:31 AM">59 minutes ago</a> by <a href="index.php?page=topic" class="post-author">Clank</a></p>
				<p class="forum">in <a href="index.php?page=forum">Plugin Releases</a></p>
				<p class="topic-replies caption" title="192 replies &middot; 11,930 views"><i class="fa fa-comment"></i><span class="count">192</span><span class="text"> replies</span></p>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to .m.'s profile"><img src="http://community.mybb.com/uploads/avatars/avatar_52123.png?dateline=1369374411" alt=".m.'s avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">add a table bbcode</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:29 AM">Today, 9:29 AM</a> by <a href="index.php?page=topic" class="post-author">.m.</a></p>
					<p class="forum">in <a href="index.php?page=forum">General Support</a></p>
					<p class="topic-replies caption" title="20 replies &middot; 312 views"><i class="fa fa-comment"></i><span class="count">20</span><span class="text"> replies</span></p>
				</div>
			</div>
			<div class="topic">
				<a href="index.php?page=profile" class="avatar-profile-link" title="Go to Ultip's profile"><img src="images/avatar.png" alt="Ultip's avatar" class="avatar" /></a>
				<div class="topic-info">
					<h3 class="topic-title unread"><a href="index.php?page=topic">Mybb need ping plugin ??</a></h3>
					<p class="latest-post"><a href="index.php?page=topic#latest" class="post-date" title="March 9, 2014 at 9:12 AM">Today, 9:12 AM</a> by <a href="index.php?page=topic" class="post-author">Ultip</a></p>
					<p class="forum">in <a href="index.php?page=forum">Plugin Requests</a></p>
					<p class="topic-replies caption" title="1 reply &middot; 504 views"><i class="fa fa-comment"></i><span class="count">1</span><span class="text"> reply</span></p>
				</div>
			</div>
		</div>
	</section>
</article>

<aside>
	<section>
		<h3 class="linked-header"><a href="index.php?page=all-forums">All Forums</a></h3>

		<div class="compressed-forum-list">
		{% for category in forums %}
			<div class="category">
				<h4><a href="{{ url_route("forums.show", [category.slug]) }}">{{ category.title }}</a></h4>
				<ul class="forum-list">
				{% for forum in category.children.toTree %}
					<li><a href="{{ url_route("forums.show", [forum.slug]) }}">{{ forum.title }}</a></li>
				{% else %}
					{#Do nothing, no subforums for this category#}
				{% endfor %}
				</ul>
			</div>
		{% else %}
			No Forums Found!
		{% endfor %}
			</div>
	</section>
		<section>
			<h3 class="linked-header"><a href="index.php?page=online">Online Now <span class="count">14 <i class="fa fa-angle-right"></i></span></a></h3>
			<div class="compact-users-list online-users">
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Clank</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_31011.png?dateline=1373556215" class="avatar" />envira</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_13376.jpg?dateline=1401219544" class="avatar" />Eric J.</a>
				<a href="index.php?page=profile"><img src="http://i.imgur.com/92dvjzh.png?dateline=1362534988" class="avatar" />Jason L.</a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Jetto</a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Julz</a>
				<a href="index.php?page=profile"><img src="https://s.gravatar.com/avatar/6341d8857df6d5b3a7b76318c980bbe8?s=100?dateline=1390444813" class="avatar" /><span style="color: #ff7500; font-weight: bold;">Justin</span></a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />MrGinos</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_25096.png?dateline=1395716559" class="avatar" /><span style="color: #ff7500; font-weight: bold;">Omar G.</span></a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Penn</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_57932.jpg?dateline=1346006198" class="avatar" />psock</a>
				<a href="index.php?page=profile"><img src="https://es.gravatar.com/userimage/36446230/6a242edbd3e0ff86c6b18fde2c31e46b.png?dateline=1358073091" class="avatar" />Solstice</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_78269.jpg?dateline=1400055145" class="avatar" />Wage</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_31006.jpg?dateline=1376184165" class="avatar" />Zueq</a>
			</div>
		</section>
	</aside>
{% endblock %}