{% extends "layouts.admin" %}
{% block title %}{% endblock %}
{% block contents %}
    <h1>{{ trans('admin::warnings.edit_warning_type') }}</h1>

    <div>
        <a href="{{ url_route('admin.warnings.warning_types') }}" class="button button--secondary"><i class="fa fa-chevron-left"></i> {{ trans('admin::general.back') }}</a>
    </div>

    <div>
        <form method="post" action="{{ url_route('admin.warnings.warning_types.edit', {'id': id}) }}">
            {% include "admin.partials.users.warning_type_form" with [warningType] %}
        </form>
    </div>
{% endblock %}
