{% extends "layouts.admin" %}
{% block title %} {{ trans('admin::tasks.create_task') }} {% endblock %}
{% block contents %}
    <div class="admin-body__header">
        <h1 class="admin-body__header__title"> {{ trans('admin::tasks.create_task') }} </h1>
    </div>
    <div class="admin-body__content">
        <form method="post" action="{{ url_route('admin.tools.tasks.create') }}">
            {% include "admin.partials.tools.task_form" %}
        </form>
    </div>
{% endblock %}
