{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.dashboard') }}
{% endblock %}
{% block inner_contents %}
		<header>
            <h1>{{ trans('account.dashboard') }}</h1>
        </header>
{% endblock %}