{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.drafts') }}
{% endblock %}
{% block inner_contents %}
		<header>
            <h1>{{ trans('account.drafts') }}</h1>
        </header>
{% endblock %}