{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.following') }}
{% endblock %}
{% block inner_contents %}
        <header class="page-header">
            <h1 class="page-title">{{ trans('account.following') }}</h1>
        </header>
        <ul class="page-tabs">
            <li class="page-tabs__item page-tabs__item--active"><a href="#" class="page-tabs__item__link">Topics</a></li>
            <li class="page-tabs__item"><a href="#" class="page-tabs__item__link">Forums</a></li>
            <li class="page-tabs__item"><a href="#" class="page-tabs__item__link">Users</a></li>
        </ul>
{% endblock %}