{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.notifications') }}
{% endblock %}
{% block inner_contents %}
        <header class="page-header">
            <h1 class="page-title">{{ trans('account.notifications') }}</h1>
        </header>
{% endblock %}