{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.notifications') }}
{% endblock %}
{% block inner_contents %}
        <header>
            <h1>{{ trans('account.notifications') }}</h1>
        </header>
{% endblock %}