		<footer>
			<div class="wrapper">
				<h3>MyBB Community</h3>
				<nav class="footer-menu menu-bar">
					<ul>
						<li><a href="#">Contact</a></li>
						<li><a href="#">MyBB Home</a></li>
						<li><a href="#">RSS Syndication</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</nav>
				<p class="powered-by">Forum software by <a href="http://mybb.com" title="The best free and open source forum software">MyBB</a></p>
			</div>
		</footer>
		<script src="{{ asset('assets/js/vendor.js') }}"></script>
		<script src="{{ asset('assets/js/main.js') }}"></script>