<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<title>
			{% block title %}{% endblock %}{% if block('title') != '' %} &bull; {% endif %} {{ setting('general.board_name') }}
		</title>
		{% include "partials.headerinclude" %}
		{% block head %}{% endblock %}
	</head>
	<body>
		{% include "header.header" %}
        <div class="main">
            <div class="wrapper clearfix">
				{{ Breadcrumbs.renderIfExists() }}
                <div id="content">
    				{% block contents %}{% endblock %}
                </div>
            </div>
		</div>
		{% include "footer.footer" %}
	</body>
</html>
