<div id="quoteBar" style="display:none" data-textarea="#message">
    {{ trans('topic.multiQuote.desc') }}
    <a href="#" id="quoteBar__select">{{ trans('topic.multiQuote.select') }}</a>
     {{ trans('general.or') }}
    <a href="#" id="quoteBar__deselect">{{ trans('topic.multiQuote.deselect') }}</a>
</div>