                        <ul class="user-links">
                             <li class="sign-up">
                                <a href="{{ url('auth/signup') }}" class="multi-link" onclick="modal('auth/signup'); return false;">
                                    <i class="fa fa-user"></i>
                                    <span class="text">{{ trans('member.signup') }}</span>
                                </a>
                            </li>
                            <li class="log-in">
                                <a href="{{ url('auth/login') }}" class="multi-link" onclick="modal('auth/login'); return false;">
                                    <i class="fa fa-sign-in"></i>
                                    <span class="text">{{ trans('member.login') }}</span>
                                </a>
                            </li>
                            <!--<li><a href="#" class="multi-link"><span class="text">New Posts</span> <span class="unread-count">42</span></a></li>-->
                        </ul>