                        <ul class="user-bar__links">
                             <li class="user-bar__links__item user-bar__sign-up">
                                <a {{ modal_attributes('register', {'url': current_path()}, false) }} class="user-bar__links__item__link icon fa-user">{{ trans('member.signup') }}</a>
                            </li>
                            <li class="user-bar__links__item user-bar__log-in">
                                <a {{ modal_attributes('login', {'url': current_path()}, false) }} class="user-bar__links__item__link icon fa-sign-in">{{ trans('member.login') }}</a>
                            </li>
                        </ul>
