<ul class="user-links">
                             <li class="sign-up">
                                <a href="index.php?page=signup" class="multi-link">
                                    <i class="fa fa-user"></i>
                                    <span class="text">Sign Up</span>
                                </a>
                            </li>
                            <li class="log-in">
                                <a href="{{ url('auth/login') }}" class="multi-link">
                                    <i class="fa fa-sign-in"></i>
                                    <span class="text">Log In</span>
                                </a>
                            </li>
                            <!--<li><a href="#" class="multi-link"><span class="text">New Posts</span> <span class="unread-count">42</span></a></li>-->
                        </ul>