                        <ul class="user-navigation__links">
                             <li class="user-navigation__sign-up">
                                <a {{ modal_attributes('auth/signup', {'url': current_path()}, false) }} class="multi-link">
                                    <i class="fa fa-user"></i>
                                    <span class="text">{{ trans('member.signup') }}</span>
                                </a>
                            </li>
                            <li class="user-navigation__log-in">
                                <a {{ modal_attributes('auth/login', {'url': current_path()}, false) }} class="multi-link">
                                    <i class="fa fa-sign-in"></i>
                                    <span class="text">{{ trans('member.login') }}</span>
                                </a>
                            </li>
                        </ul>
