.header-bar {
	background: $background-default;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	@include clearfix();
}

.admin-header__logo {
	background-color: $primary-color;
	flex: 0 0 200px;
	height: 35px;
	padding: 10px 20px;
	margin: 0;
	
	svg {
		height: 100%;
		width: auto;
		* {
			fill: #FFF;
		}
	}

	.admin-header__logo__text {
		@include visually-hidden;
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2) {

    .admin-header__logo {
        background-image: url("../images/admin_logo@2x.png");
        background-size: 122px 35px;
    }
}

.show-menu {
	float: $left;
	margin: 0 20px 0 0;

	a.show-menu__link {
		color: $alt-font-color-1;
		font-size: 21px;
	}

	.text {
		display: none;
	}
}

.admin-header__breadcrumb {
	font-size: 0.9em;
	flex: 1;
	padding-left: 20px;

	a {
		margin-#{$right}: 3px;
		&:link, &:visited {
			color: $alt-font-color-1;
		}
	}
}

.user-menu {
	float: $right;
	font-size: 0.9em;

	i {
		color: $alt-font-color-2;
		font-size: 14px;
		margin: 0 0 0 5px;
	}
}

@media only screen and (min-width: 768px) {

	.show-menu {
		display: none;
	}

	.breadcrumb {

		.breadcrumb__logo {
			background: url("../images/admin_logo.png");
			background-repeat: no-repeat;
			background-position: middle $left;
			padding: side-values(4px 0 4px 40px);
		}

		.breadcrumb__trail {
			display: inline-block;
			font-size: 1.15em;
			margin-top: 2px;
		}

		i {
			margin: 0 8px;
			color: $alt-font-color-2;
		}

		h1 {
			font-size: 1em;
			font-weight: 600;
			margin: 0;
			padding: 0;
			display: inline-block;
		}
	}
}
